[2019-10-19 13:07] #1215 closed

[2019-10-19 13:09] georgehrke commented on #741
Implemented in https://github.com/nextcloud/calendar/pull/926

[2019-10-19 13:09] #741 closed

[2019-10-19 13:10] georgehrke commented on #18
Implemented in https://github.com/nextcloud/calendar/pull/926

[2019-10-19 13:10] #18 closed

[2019-10-19 13:10] georgehrke commented on #857
Implemented in https://github.com/nextcloud/calendar/pull/926

[2019-10-19 13:10] #857 closed

[2019-10-19 13:10] ChristophWurst commented on #540
🎉🎉🎉

[2019-10-19 13:15] georgehrke commented on #1152
Dark mode has been vastly improved in #926

![8D9B9554-78E3-40F1-80ED-FA1D998E6059](https://user-images.githubusercontent.com/1250540/67145600-04ff7980-f283-11e9-8a7c-6674328d6422.png)
![A5423C50-49DD-4293-88EA-6EA1D83A0E58](https://user-images.githubusercontent.com/1250540/67145628-3aa46280-f283-11e9-9393-97375869b732.png)

[2019-10-19 13:15] #1152 closed

[2019-10-19 13:24] apiraino commented on #10
@georgehrke thanks :tada:

[2019-10-19 15:38] georgehrke commented on #12
This was implemented in #926

[2019-10-19 15:38] #12 closed

[2019-10-19 18:04] georgehrke commented on #1323
In #926 we moved to popper.js, so problems like this should be resolved.

[2019-10-19 18:04] #1323 closed

[2019-10-19 18:07] georgehrke commented on #748
This has been fixed in #926

https://github.com/nextcloud/calendar/blob/master/src/components/AppNavigation/CalendarList/PublicCalendarListItem.vue#L154L159

[2019-10-19 18:07] #748 closed

[2019-10-19 18:09] georgehrke commented on #968
This has been implemented in #926

[2019-10-19 18:09] #968 closed

[2019-10-19 18:50] 31416r commented on #708
Thank you georgehrke !

[2019-10-19 19:00] georgehrke commented on #1495
This was already implemented with #926 :)

[2019-10-19 19:00] #1495 closed

[2019-10-19 19:02] georgehrke commented on #1476
All ToDos are done, closing :)

[2019-10-19 19:02] #1476 closed

[2019-10-19 19:03] georgehrke commented on #1408
This was fixed in #926

see https://github.com/nextcloud/calendar/blob/master/lib/Controller/ContactController.php#L77L79
and https://github.com/nextcloud/calendar/blob/master/lib/Controller/ContactController.php#L128#L130

[2019-10-19 19:03] #1408 closed

[2019-10-19 19:05] georgehrke commented on #1172
There no longer is a warning since #926

[2019-10-19 19:05] #1172 closed

[2019-10-19 19:11] UtechtDustin commented on #1529
If there is API/Route for the mail app why not use it and if the mail app is not installed use `mailto:`.

[2019-10-19 19:11] georgehrke commented on #38
The vue `.once` event modifier might also be helpful here.

[2019-10-19 19:12] georgehrke commented on #1529
@UtechtDustin  Ideally the mail app would just register a protocol handler for `mailto:`. (Not sure if that's not already the case). But that's something to discuss in the mail app repo :)

[2019-10-19 19:37] georgehrke commented on #1143
Closing as duplicate of #1154 in that case.

[2019-10-19 19:37] #1143 closed

[2019-10-20 13:13] georgehrke commented on #803
Duplicate of https://github.com/nextcloud/calendar/issues/632

[2019-10-20 13:13] #803 closed

[2019-10-20 13:20] georgehrke commented on #1114
Duplicate of #962

[2019-10-20 13:20] #1114 closed

[2019-10-20 13:31] georgehrke commented on #1020
Since #926 was merged, make works as expected again.

[2019-10-20 13:31] #1020 closed

[2019-10-20 13:35] georgehrke commented on #1079
This was fixed in #926

![5FB71565-2C34-455E-B9A6-EBDEBDB3D9CB](https://user-images.githubusercontent.com/1250540/67160254-39d90280-f34f-11e9-98e1-c5abd8054ec4.png)

[2019-10-20 13:35] #1079 closed

[2019-10-20 13:40] georgehrke commented on #1080
@tcitworld Have you seen issues like this before?

I tried plenty of things, but I was never able to reproduce it.
And to my knowledge this is the only bug report we have gotten about this weird behaviour.

[2019-10-20 13:46] georgehrke commented on #1162
As far as i can tell, this was a bug in an earlier version of Sabre/DAV.
I can no longer reproduce this bug with Nextcloud 17, it imports just fine.

![E227D8E1-D6B2-4CFB-8BF6-9EBD2F2B6C6A](https://user-images.githubusercontent.com/1250540/67160420-ca641280-f350-11e9-93fc-57958bb581a3.png)

[2019-10-20 13:46] #1162 closed

[2019-10-20 13:52] georgehrke commented on #1343
In that case, the best way would be to inspect the traffic when creating the event with wireshark.

@cryptomilk Is it still an issue or did you fine the reason in the meantime?

[2019-10-20 14:34] tcitworld commented on #1080
I don't think I heard anything like this, no.
There could be a lot of areas where it could have gone wrong (calendar, session, sharing, updating…) so let's close this for now.

[2019-10-20 14:34] #1080 closed

[2019-10-21 06:23] cryptomilk commented on #1343
KDE (koncact) works fine but not with davdroid. I haven't figured out what is going wrong ...

[2019-10-21 06:35] ChristophWurst commented on #1529
It is! :)

[2019-10-21 08:46] tcitworld opened #1548 "Update README"
Especially https://github.com/nextcloud/calendar#developer-setup-info with the merge of the vue branch.

[2019-10-21 08:59] tdoerschel commented on #10
@georgehrke thanks a lot for all the hard work on calendar 2.0!

[2019-10-21 09:09] tcitworld commented on #1300
Yup, I would go with server configuration issue as well.

[2019-10-21 09:16] georgehrke commented on #1300
I'm also not able to reproduce this on the demo server:

![E6128375-FD19-4C42-9A8E-7D8BE2B05BE2](https://user-images.githubusercontent.com/1250540/67192405-d2c15980-f3f3-11e9-87db-b1519fec17f4.png)

(The demo server changed in the meantime, since this bug was initially reported)

[2019-10-21 09:19] jancborchardt commented on #1020
I only got these 2 test errors, unrelated to above but still issue during make:

[code]

[2019-10-21 09:46] georgehrke commented on #1020
Ah, `js/vendor` is an old folder from version 1.
Let me just delete the entire `js/` folder on make

[2019-10-21 18:08] JD145 opened #1552 "Confirm event deletion"
I'm always frustrated when I want to delete a single event of a series and the complete series will be deleted. Maybe it's possible to add a yes/no confirmation dialog, if the user really like to delete the series.

Nextcloud: 17.0.0
Calendar: 1.7.1

[2019-10-21 18:23] tcitworld commented on #1552
Fixed in upcoming version.

[2019-10-21 18:23] #1552 closed

[2019-10-21 18:33] JD145 opened #1553 "EXDATE not properly respected (floating EXDATE)"
I have a event series and deleted a single event with Thunderbird (synced via caldav). The deleted event still appears in the web interface (of course reloaded multiple times after deletion), but on Android (DAVx5 used) the single event is deleted correctly.
Is it possible that there is a bug in web interface?

**Steps to reproduce**
1. Import the attached [issue.ics](https://github.com/nextcloud/

[2019-10-21 18:42] georgehrke commented on #1553
Please fill **the entire template** and provide an example ics file.

[2019-10-21 18:53] #689 closed

[2019-10-21 18:53] #1175 closed

[2019-10-21 18:53] #1325 closed

[2019-10-21 18:54] #1056 closed

[2019-10-21 18:54] #250 closed

[2019-10-21 18:54] #793 closed

[2019-10-21 18:54] #777 closed

[2019-10-21 18:55] georgehrke commented on #642
Sorry for that, doesn't need info, reproducible bug

[2019-10-21 18:57] georgehrke commented on #578
@eogut I'm sorry, just saw the WeTransfer link, but it expired. Do you mind uploading it again?
I never had any issues with Deutsche Bahn ics files.

[2019-10-21 18:58] georgehrke commented on #424
my fault, needs info should have been removed

[2019-10-21 20:01] georgehrke commented on #1553
There is a duplicate `EXDATE` for that day, That might be causing issues:
[code]

[2019-10-21 20:28] georgehrke commented on #1553
Still able to reproduce on 2.0.0 beta1.
Possibly upstream related.

[2019-10-22 06:27] juliushaertl opened #1555 "[2.0.0-beta1] Calendar view broken with htaccess.RewriteBase => "/""
Running 2.0.0-beta1 on 17.0.0 doesn't show the calendar view:

![image](https://user-images.githubusercontent.com/3404133/67262618-c4cc1100-f4a5-11e9-9772-21f0988672b1.png)

[code]

[code]

[2019-10-22 06:33] juliushaertl commented on #1555
Just figured out it does work if I do not use a rewritten url, so

:boom: /apps/calendar/dayGridMonth/now
:heavy_check_mark: /index.php/apps/calendar/dayGridMonth/now

[2019-10-22 07:24] georgehrke commented on #1555
Probably related to this line I assume: https://github.com/nextcloud/calendar/blob/master/src/router.js#L36

[2019-10-22 07:27] tcitworld commented on #1555
Very probably https://github.com/nextcloud/contacts/blob/master/src/router/index.js#L34

[2019-10-22 07:38] georgehrke commented on #1555
Fix in #1556

[2019-10-22 08:34] georgehrke commented on #1555
Fixed in #1556

[2019-10-22 08:34] #1555 closed

[2019-10-22 08:36] eogut commented on #578
Hi Georg,

I have quit using Nextcloud.

Kind regards
Am 21. Oktober 2019 20:57:45 schrieb Georg Ehrke <notifications@github.com>:

[2019-10-22 08:37] #578 closed

[2019-10-22 09:02] fwolfst opened #1558 ""Deep" link calendar views / change URL on navigation"
**Is your feature request related to a problem? Please describe.**
If I want to look up e.g. Summer of next year in the web-ui I have to click multiple times to change the month until I am "where" I want to be. Also, I cannot send a link to the xth week of year y to someone.

**Describe the solution you'd like**
I would like that if I navigate to january 2023 that the URL reflects that (e.g. `http

[2019-10-22 09:03] georgehrke commented on #1558
Already implemented in Calendar 2.0.0 beta1

[2019-10-22 09:03] #1558 closed

[2019-10-22 09:04] fwolfst commented on #1558
awesome. quickest positive issue reply ever ;) .

[2019-10-22 09:39] #1509 closed

[2019-10-22 09:52] georgehrke commented on #1484
This was already implemented in beta1 actually:
[code]

[2019-10-22 09:52] #1484 closed

[2019-10-22 12:44] #678 closed

[2019-10-22 12:44] #711 closed

[2019-10-22 12:47] #680 closed

[2019-10-22 14:19] ChrLau commented on #10
Thanks also from me! So glad it's finally there. The 50 US-$ on Bountysource are worth it ;-)

[2019-10-22 14:47] tcitworld opened #1567 "Default to next rounded hour when today's event is switched from all day to hour"
My use case was when you have an all day event on today's date and uncheck the all day checkbox, it's odd to default to an already passed time. It's not that important though, so I'm fine with ignoring it for now.

Does that make sense?

Yes.

_Originally posted by @tcitworld in https://github.com/nextcloud/calendar/pull/1563#issuecomment-544958212_

[2019-10-22 16:58] #532 closed

[2019-10-22 17:28] JD145 opened #1568 "Delete single event of series"
It would be great, if there is an dialog to delete a single event of a event series. Currently it deletes the complete series, if you try to delete single event.

Nextcloud version: 17.0.0
Calendar app version: 1.7.1

[2019-10-22 17:40] #1568 closed

[2019-10-22 17:40] georgehrke commented on #1568
Implemented in Calendar 2.0 beta1

[2019-10-22 18:46] georgehrke commented on #517
I can no longer reproduce this with Calendar 2.0 beta1.

The ics imports and loads just fine. Also checked May / June / July 2017 - no errors

[2019-10-22 18:46] #517 closed

[2019-10-22 20:23] jancborchardt opened #1569 "Locale is not respected anymore"
Since the Vue rewrite merge, it seems the locale of the personal settings is not respected anymore?

I have it set to German, but Sunday is shown as first day of the week. What am I missing? @georgehrke @tcitworld? :)

[2019-10-22 20:25] georgehrke commented on #1569
Yes, I'm aware of that already.

Bug in beta1, no mistake on your side.

[2019-10-22 20:27] jancborchardt opened #1570 "Design polishing of new event popover"
Some first impressions:
![calendar popover](https://user-images.githubusercontent.com/925062/67327950-06e26a80-f519-11e9-88d9-3cf22a19c4e8.png)

- [x] There is always a short flash of the popover being somewhere else before the popover is positioned correctly. Any way we can prevent this?
- [x] The title field needs to be focused when the popup appears so you can directly start typing
- [x] The ti

[2019-10-22 20:30] georgehrke commented on #1570
The icon is actually part of the DateTimePicker shipped by all Nextcloud/vue. see https://nextcloud-vue-components.netlify.com/#/Components?id=datetimepicker

But obviously that icon is way too big, will fix that.

[2019-10-22 20:42] jancborchardt opened #1571 "Show week numbers more nicely integrated"
Currently week numbers get a whole column, which looks a bit off and complex:

![](https://user-images.githubusercontent.com/1250540/67218398-9a873e80-f426-11e9-863c-82b139e9271d.png)
(Screenshot nicked from you @georgehrke ;)

Nicer would be if they would just show in the top left of the leftmost column. Yes it would overlay the first day, but that also marks the beginning of that week.

[2019-10-22 20:50] jancborchardt opened #1572 "Style regression in top left of navigation"
Just looking at it style-wise, the top left of the calendar regressed from looking light to now looking bulky:
![top left of calendar before](https://user-images.githubusercontent.com/925062/67331547-3182f200-f51e-11e9-9006-14ad9b78360f.png) ![top left of calendar](https://user-images.githubusercontent.com/925062/67331549-3182f200-f51e-11e9-9b93-254748516187.png)

The main thing that changed is th

[2019-10-22 20:59] georgehrke commented on #1572
It is necessary. We had multiple people requesting a DatePicker, because they never figured out they were actually able to click onto "Oktober 2019"

So if it's clickable, we should show it by styling it like a button imo.

[2019-10-22 21:01] georgehrke commented on #1571
I get your point, but this is how upstream implemented it.
The only way to get the way you suggested is implementing our own month and week views, which is honestly kind of an overkill just for the sake of placing the week number somewhere else. :)

[2019-10-22 21:04] georgehrke commented on #1571
Nevermind what i just said, upstream has an option for that: https://fullcalendar.io/docs/weekNumbersWithinDays

Let me set that.

[2019-10-22 21:07] georgehrke commented on #1570
I was wondering whether we should move the More and Save button into the upper right corner, but i was also worried about discoverability then.

@jancborchardt Any opinion? ^

[2019-10-22 21:09] georgehrke commented on #1572
Please keep in mind that there is a pending issue about a new design anyway :)
https://github.com/nextcloud/calendar/issues/1021

[2019-10-22 21:27] jancborchardt opened #1573 "Download action in action menu is bold and misplaced"
Check this:
![Download action menu bold](https://user-images.githubusercontent.com/925062/67335118-84ab7380-f523-11e9-80e6-a6a4e6959b97.png)

[2019-10-22 21:28] jancborchardt commented on #1572
Right, if we go forward with https://github.com/nextcloud/calendar/issues/1021#issue-393233730 instead that’s good! :)

[2019-10-22 21:28] #1572 closed

[2019-10-22 21:29] georgehrke commented on #1573
https://github.com/nextcloud/nextcloud-vue/issues/667

[2019-10-22 21:29] #1573 closed

[2019-10-22 21:30] jancborchardt commented on #1570
The icons without labels on the top are a bit too cryptic. We have it clearly right now, I’d not move away from that for now. At least it’s a separate discussion?

[2019-10-22 21:57] jancborchardt opened #1576 "Design polishing of right sidebar"
Some first review after the Vue merge. :) As usual it’s very nice, these are mostly polishing details!
(This is a review similar to Design polishing of new event popover #1570)

## 📅 Top part

- [x] Event title input placeholder should be "Event title"
- [x] ~~Event title seems rather small. In the popover it’s 20 px, here only 16.~~ (Nextcloud-vue issue)
- [ ] Event title input doesn’t go full wi

[2019-10-22 22:04] georgehrke commented on #1576
These are all the default style of nextcloud/vue. Would you mind opening a ticket there :)

[2019-10-22 22:05] georgehrke commented on #1576
Already fixed earlier today in https://github.com/nextcloud/calendar/pull/1563

[2019-10-22 22:06] georgehrke commented on #1576
Thanks for the valuable feedback. Will look into the rest tomorrow :)

[2019-10-22 22:08] georgehrke commented on #1576
Reminders is pretty much how it works in Google calendar. Especially that all-day and timed have different ways of entering. 5 minutes before vs. 1 day before at 9am

And Repeat is heavily inspired by macOS.

But I agree that it needs some CSS love. better spacing, etc.

[2019-10-23 09:08] #1569 closed

[2019-10-23 09:21] raimund-schluessler commented on #1474
For Tasks the effect was not huge, but removing comments saved 35 kB https://github.com/nextcloud/tasks/pull/571

[2019-10-23 11:18] #1571 closed

[2019-10-23 12:32] #1548 closed

[2019-10-23 14:01] #1021 closed

[2019-10-23 20:53] TheVeggie commented on #7
Would be nice, if an e.g. every month repeated event could be stopped in a certain period.

[2019-10-24 10:29] georgehrke opened #1582 "Design polishing of App Navigation"
- [x] ~~The "Shared" icon with text is closer to the 3-dot icon than the share icon, why that?~~
Label was removed, doesn't apply anymore
- [x] The "Contact birthdays" calendar, being a default calendar, needs a color that is better visible and fits with the others? The one you use for "Default calendar" in the screenshot would fit.

[2019-10-24 16:18] host71 commented on #1343
korganizer still does not work with nextcloud calendar for me. Entry in korganizer gets created in nextcloud calendar, but the other way around does not work. I don't find errors/don't get error messages.

[2019-10-24 18:53] phoezelle commented on #402
Hello
Is it possible that in the top bar, near the notification icon, an agenda icon could show the next events in a small list view.

[2019-10-25 13:24] georgehrke commented on #146
There is currently no easy way to do this with full calendar. Moving to backlog.

[2019-10-25 13:33] nderambure opened #1584 "Embed calendar blocked by Content-Security-Policy : frame-ancestors 'self'"
### Steps to reproduce
1. Create a new calendar
2. Share it as public
3. Go to the public link url
4. Copy the given embed under the calendar title and paste it in another web page on a different domain name

### Expected behaviour
The calendar should show up in the iframe

### Actual behaviour
The calendar is blocked by the parameter

### Calendar app
**Calendar app version:** 1.7.1

### Client c

[2019-10-25 13:34] georgehrke commented on #1584
@tcitworld You know better about this issue. Isn't it a duplicate?

[2019-10-25 13:40] georgehrke commented on #1584
Okay, I reopened #169 for now. Thx!

[2019-10-25 13:40] #1584 closed

[2019-10-25 13:43] nderambure commented on #1584
Thx ;)

[2019-10-25 20:50] #920 closed

[2019-10-26 13:36] tcitworld opened #1585 "Hide event details properties info buttons when event in read-only mode"
It feels strange and is probably not needed since values are already present.

Also tooltips are bad UX on mobile, but that's another topic.

What do you think @georgehrke @jancborchardt?

![](https://user-images.githubusercontent.com/1250540/67618758-d38f2c80-f7f3-11e9-88ff-5c568f0bc9e4.png)

[2019-10-26 13:37] tcitworld opened #1586 "Hide the "+ New event" button on public event page"
![Screenshot_2019-10-26 October 2019 - Nextcloud](https://user-images.githubusercontent.com/2197836/67620388-89fc0d00-f806-11e9-8503-a5371b55725b.png)

[2019-10-26 13:40] tcitworld opened #1587 "Visibility of event in shared calendars property shouldn't be displayed in read-only mode"
I see no reason why it would be useful to someone having read-only access.

[2019-10-26 13:45] georgehrke commented on #1587
Related to https://github.com/nextcloud/calendar/issues/519

Things to fix:
- [ ] Do not show accessClass property in shared calendar
- [ ] If the user already set an accessClass, do not allow moving it to a calendar shared with them
- [ ] If the event is in a calendar shared with the user, and the accessClass is not PUBLIC, open the event in read-only mode.

@tcitworld Do you agree with all those

[2019-10-26 13:46] #107 closed

[2019-10-26 13:49] tcitworld opened #1588 "The new created calendars are not activated by default"
Do we need to set `calendar-enabled` on calendar app side or is this an issue on server side?

[2019-10-26 13:51] georgehrke commented on #1588
It's both kind of.

There is no default visibility in the calendar app, so if none is set, it's just hidden.
But it's also a server-side issue, since we set calendar-enabled in the MKCOL request.
But the server doesn't save properties that are not stored inside oc_calendars on MKCOL.

But for calendars that you own yourself, if there is no visibility set, the default one should be enabled.

[2019-10-26 13:58] jancborchardt commented on #1585
Right, also the "All day" checkbox is redundant when it’s not editable.

[2019-10-26 13:59] georgehrke opened #1589 "Hide all-day checkbox in read-only"

[2019-10-26 14:00] georgehrke commented on #1585
Opened a dedicated issue for it https://github.com/nextcloud/calendar/issues/1589

[2019-10-26 14:01] tcitworld commented on #1587
If the accessClass is not `PUBLIC` shouldn't anything at all be shown anyaway (apart from busy with `CONFIDENTIAL`) ?

[2019-10-26 14:02] georgehrke commented on #1587
Yes, Exactly. If the event is labeled as busy only, it should be read-only to the users it is shared with.

[2019-10-26 14:07] tcitworld opened #1590 "Event details are not transfered when switching from simplified editor to sidebar"
Applicable for title, start & end date,…

[2019-10-26 14:10] tcitworld opened #1591 "Error when selecting event visibility"
The value is `console.log`ed and then
[code]

[2019-10-26 14:15] tcitworld opened #1592 "Unable to switch from simplified editor to sidebar editor for read-only event"
Tested with a shared read-only calendar.

[2019-10-26 14:22] tcitworld opened #1593 "Event svg header picture has a "nodata" title when using default picture"
And it shows when hovering over the picture.

[2019-10-26 16:24] georgehrke commented on #1593
Should we set a different title or remove all titles from all SVGs?

[2019-10-26 16:26] georgehrke commented on #1591
Actually the case for all select options, because it's emitting the entire object and not just the value. On it ...

[2019-10-26 16:46] tcitworld commented on #1593
I think it's still useful for a11y to have a title on the picture, but I'm not sure how to handle the default one (change the `nodata` value or remove it in this particular case).
Maybe @nextcloud/accessibility could help?

[2019-10-26 16:48] georgehrke commented on #1593
If we decide to keep a title for the illustration, we end up with the next problem that the titles are hardcoded in the svg and not translatable

[2019-10-26 16:49] skjnldsv commented on #1593
css and hide it?

[2019-10-26 16:49] georgehrke commented on #1593
Yes, browser tooltip, not v-tooltip.

[2019-10-26 16:54] georgehrke commented on #1593
And if we want to keep it for accessibility, "No data" and all the other titles are not exactly meaningful. It should describe the actual content, like "Illustration of event: Two empty clipboards"

[2019-10-26 17:02] #1591 closed

[2019-10-26 17:08] georgehrke opened #1596 "Setup puppeteer for visual texting"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82672985-setup-puppeteer-for-visual-texting?utm_campaign=plugin&utm_content=tracker%2F45525646&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F45525646&utm_medium=issues&utm_source=githu

[2019-10-26 17:31] #1585 closed

[2019-10-26 18:46] #1586 closed

[2019-10-26 18:46] #1589 closed

[2019-10-26 18:47] raimund-schluessler opened #1599 "Clicking the avatar of shared calendar owner results in an error"
Version: latest master f56dde65ef3369f69049f8b56a6c5e440a0204ba

Clicking the avatar of the owner of a shared calendar produces an error in the console but does nothing else:

[code]

I clicked the upper avatar (with the three-dots icon due to hovering with the mouse):
<img width="281" alt="calendar" src="https://user-images.githubusercontent.com/2496460/67624523-c85af180-f831-11e9-8fd1-f2e3098a80

[2019-10-27 10:39] raimund-schluessler commented on #1599
Here the output of the development build:

[code]

[2019-10-27 11:38] georgehrke commented on #1593
Current proposal: Keep this issue open to tackle it in the long run, remove the current titles, because they don't add any meaningful value.

@tcitworld @skjnldsv Any objections? :)

[2019-10-27 20:04] devillemereuil commented on #71
@brycefisher Maybe a good strategy would be some code updating the COLOR field according to the landing CATEGORY support, see #1540. Well, at least, linking those two, as the UI for categories will be there anyway.

[2019-10-28 07:48] georgehrke commented on #71
Please don't mix up CATEGORY and COLOR, they are two fundamentally different properties.

[2019-10-28 09:17] #1588 closed

[2019-10-28 09:42] ccoenen commented on #71
also #1540 suggests that at a later stage some kind of visual element for categories might be added. A Category -> Color automation is probably not a good idea:
- you can have multiple categories. Which one wins?
- you can have other clients, so category could be set by a different entity that does not set `COLOR` at the same time
- someone could have set `COLOR` manually in addition to a category

[2019-10-28 09:48] devillemereuil commented on #71
I see. My reasoning was that some clients (e.g. all Android clients, as far as I know) don't support CATEGORY but do support COLOR (at least some of them) and linking the two might help having a way to get the information transmitted (at least in a visual way) across clients.

It seems it opens a bigger can of worm than I anticipated... Oh well, it was a mere suggestion, sorry if it was a dumb one

[2019-10-28 11:18] georgehrke commented on #424
I can no longer reproduce this bug with Calendar 2.0.0 beta1.
Closing

[2019-10-28 11:18] #424 closed

[2019-10-28 11:56] georgehrke opened #1610 "Make illustrations accessible"
The illustration should contain a translated title for accessibility

Related to https://github.com/nextcloud/calendar/issues/1593

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82754493-make-illustrations-accessible?utm_campaign=plugin&utm_content=tracker%2F45525646&utm_medium=issues&utm_source=github)** We accept bounties via [Bo

[2019-10-28 12:06] #1593 closed

[2019-10-28 12:24] georgehrke commented on #1599
@raimund-schluessler Can you confirm that this problem only occurs for you when the user associated with that avatar does not have any way to contact them? (Like an email)

[2019-10-28 12:26] georgehrke commented on #1599
(Can't reproduce if contact's menu for user is not empty, seems to be an issue in Nextcloud-vue in that case.)

[2019-10-28 12:56] raimund-schluessler commented on #1599
I can confirm, that the error vanishes if I set an e-mail address for the user. And it probably really is a nextcloud-vue issue, since the error is thrown in the `Avatar` component.

![Screenshot_2019-10-28 Week 44 of 2019 - Kalender - Nextcloud](https://user-images.githubusercontent.com/2496460/67679935-8b564280-f98a-11e9-9dc6-9f98edaf593e.png)

As a side note: The font-size is to large, probably

[2019-10-28 13:06] georgehrke commented on #238
@tcitworld This seems to be related to the router view somehow.
AppSidebar contains a transition itself.

Do you have any idea?

[2019-10-28 13:24] georgehrke commented on #724
This actually conflicts with #394

How should we handle this @tcitworld ?

[2019-10-28 13:28] georgehrke commented on #696
I can no longer reproduce this with Calendar 2.0.0 beta1

[2019-10-28 13:28] #696 closed

[2019-10-28 15:09] #223 closed

[2019-10-28 16:28] georgehrke commented on #1599
Closing as upstream issue:
https://github.com/nextcloud/nextcloud-vue/issues/699

[2019-10-28 16:28] #1599 closed

[2019-10-29 01:41] gitthangbaby commented on #629
Top feature. All is needed a simple default reminder preset when appointment is created: 10 or 15min like in most apps, to make sure appointments are not missed (agree with 90%+ usage number) and no extra clicks are needed.
Never saw any complexity added in presets, but recently openexchange added default reminder setting for all-day appointments, and birthdays as i just randomly discovered. Nice

[2019-10-29 09:27] tykayn opened #1611 "deleting a repeated event kills all events instead of proposing what to delete"
i have no idea if this issue is dependent on nextcloud calendar or one of its libs it uses for the GUI, but the fact that we have no option to delete one or all events of a repeatition is really bad UX.
by default deleting a repeated event is killing them all, it would be great to have some questions answer to know what to delete :
only this event,
all the serie,
only the events before this one,
o

[2019-10-29 09:27] georgehrke commented on #1611
#7

Already fixed in Calendar 2.0.0

[2019-10-29 09:27] #1611 closed

[2019-10-29 09:28] tykayn opened #1612 "ctrl Z to cancel what we deleted"
when deleted an event accidentaly there is no way to cancel what we did.
maybe a keyboard shortcut like ctrl+Z or some text hint proposing to cancel that would be really useful.

[2019-10-29 09:28] georgehrke commented on #1612
#13

[2019-10-29 09:28] #1612 closed

[2019-10-29 10:16] georgehrke commented on #71
https://www.npmjs.com/package/css-color-names
https://www.npmjs.com/package/closest-css-color ?

[2019-10-29 22:10] tcitworld commented on #724
I like the behaviour of Google Calendar (even though they have an issue with hovering events)
* If you're clicking on the calendar where there's not any event yet, close the popup/sidebar (double click to reopen it and create a new event)
* If you're clicking on an existing event, open the popup/sidebar filled with this new event (single click to jump to this event)

Also clicking on the empty spa

[2019-10-29 22:12] tcitworld commented on #238
I don't see any. I'll have a deeper look later.

[2019-10-30 08:15] georgehrke commented on #286
Moving to server since we are using the CalDAV cached subscriptions now.

[2019-10-30 09:03] georgehrke commented on #1590
Okay, so identified multiple problems here:
Edit existing event:
- Event title and other information are transferred just fine.
- non-recurring: Changing the starting time does not work, because that changes the recurrence-id and hence opening the sidebar will fail, because it can't find the event
- recurring: all information is lost, because recurrence-instance does

New event:
- all information

[2019-10-30 09:52] georgehrke commented on #38
This was already solved in #926

All buttons will be immediately disabled or replaced by loading spinner.

[2019-10-30 09:52] #38 closed

[2019-10-30 10:18] tcitworld commented on #1590
Yeah, it's the easiest solution.

[2019-10-30 12:27] georgehrke commented on #1592
![619A0AE8-CAC8-402A-AC4B-A87F2EC40212](https://user-images.githubusercontent.com/1250540/67858201-f5045700-fb18-11e9-8706-94710f1b3946.png)

Should we put a big more button on the bottom or just some next to the close icon.
Putting a full-width button in the bottom area feels like a huge waste of space to me.

[2019-10-30 12:40] Mannshoch commented on #402
Embedding a Calendar into a Website is a cool feature.
![grafik](https://user-images.githubusercontent.com/7795891/67858081-9fc84580-fb18-11e9-9290-95551836d1f4.png)

But Inside a Website I don't need a Classic Calendar view. I need a List-view because I do not have Dates all week I wish to present, With this list-view I also wish to present some more Information.
May I could be able to set some s

[2019-10-30 12:49] georgehrke commented on #1592
Something like this:

![00493096-9741-43CA-BA62-3C5DF6C7A050](https://user-images.githubusercontent.com/1250540/67859504-16b30d80-fb1c-11e9-8c19-ba11dc3e429a.png)

[2019-10-30 12:50] tcitworld commented on #402
@Mannshoch It's possible to specify the used view in v2.0.

[2019-10-30 12:54] tcitworld commented on #1592
Agreed.

Having a button on top right seems a good way, but it needs another icon (this one definitely implies external links and new tabs).

I think we could also make the whole header and maybe title clickable.

[2019-10-30 12:56] georgehrke commented on #1592
Do you think that the full-screen icon fits better?
https://github.com/nextcloud/server/blob/master/core/img/actions/fullscreen.svg

I'm also open for completely different suggestions :)

I'm not sure about this, because a clickable title won't work in Edit mode. I would like a solution that works the same no matter whether it's read only or not.

[2019-10-30 12:58] georgehrke commented on #1592
This is with icon-fullscreen:

![18265B23-54B3-4848-9A94-BF9EE1DAEA99](https://user-images.githubusercontent.com/1250540/67860055-49113a80-fb1d-11e9-83b4-f8fcf7145494.png)

[2019-10-30 13:01] georgehrke commented on #1592
Corresponding pull-request: https://github.com/nextcloud/calendar/pull/1619

[2019-10-30 13:16] tcitworld commented on #1592
I didn't think you wanted that as well. In that case, I fear the discoverability of the top right button is poor when you need to add details to an event, especially since there's no perfect icon.

When creating/editing an event, it makes sense for the button to add more details to your event to be located below the fields you just filled.

[2019-10-30 13:50] georgehrke commented on #1592
Okay, so let's have the icon only for read-only events?

[2019-10-30 13:53] tcitworld commented on #1592
Let's try this, yeah. Anyway read-only events shouldn't have that much data that's only shown in the sidebar view.

[2019-10-30 14:58] Sesivany opened #1620 "Propagate subscribed calendars to CalDAV clients"
**Is your feature request related to a problem? Please describe.**
I'm using the Nextcloud Calendar mostly in desktop/mobile clients. I'm subscribed to several remote calendars via ical. I can see them in the web interface, but I can't in the clients.

**Describe the solution you'd like**
It would be great if the calendars I'm subscribed to got propagated to CalDAV clients just like calendars that

[2019-10-30 15:05] tcitworld commented on #1620
DAVx5 can automatically fetch subscriptions from Nextcloud, if you have ICSx5 installed.

Anyway subscriptions are now cached by Nextcloud server, we just need to expose them to clients.
@georgehrke do we transfer and keep this issue in server?

[2019-10-30 15:10] georgehrke commented on #1620
Yes, let's move it to the server.

It's basically about filling this array: https://github.com/nextcloud/server/blob/master/apps/dav/lib/CalDAV/WebcalCaching/Plugin.php#L42

[2019-10-30 15:43] #21 closed

[2019-10-30 17:05] briner commented on #402
@tcitworld could you be more explicit on how to use this view in 2.0 within an iframe.

[2019-10-30 17:30] briner commented on #402
I just added 15$ on the bounty for this. Hope it will get some traction.

[2019-10-30 17:30] briner commented on #402
@georgehrke , thank you for the reply.

[2019-10-30 18:55] jakobroehrl commented on #402
@briner
I wanted to bring the calendar entries to a (wordpress) website.
Solved it with the plugin "Event Organiser" to get it from nextcloud and show it as list on the website.

[2019-10-31 12:15] zian92 opened #1621 "editing event times without punctuation"
**Is your feature request related to a problem? Please describe.**
When I plan or edit an event I want to specify the start and end time by typing only numbers, e.g. 1500 for 15:00.
**Describe the solution you'd like**
I would like to get my numbers parsed to a valid format that I don't need to worry about punctuation.

**Describe alternatives you've considered**

**Additional context**

[2019-10-31 13:54] tcitworld commented on #1621
Parsing dates when you don't know the format in advance is quite a hard thing to handle (UK has AM/PM for instance).
Also with upcoming version 2.0 this is delegated to a [vue component](https://nextcloud-vue-components.netlify.com/#/Components/DatetimePicker) we should transfer issue there.

[2019-11-01 13:06] vchrizz commented on #31
using following workaround until this issue is fixed:
in file core/templates/layout.user.php add after `<title>`
[code]

[2019-11-01 13:08] georgehrke commented on #31
I would strongly advise anyone against using that workaround, because it just reloads the calendar app every 60 seconds, no matter whether you are just creating / editing an event or not. Definitely not a solution.

[2019-11-01 13:13] vchrizz commented on #31
correct, thanks for pointing that out, i should have mentioned that!
as i do not use the app via webbrowser, but manage my events via smartphone, this is not a problem in my case.
for explanation: i use a tablet on a wall to display the calendar and for that it is not practical to be forced to manually refresh the page to see the actual calendar status.

[2019-11-01 15:37] SiL3NC3 opened #1622 "calendar datepicker - year switches"
The behavior for fast switching between years is again not available.
Running v17 of Nextcloud, updated to current date.

Related to issue: datepicker: fast switching between years nextcloud/server#12323

![2019-11-01 16_36_43-Calendar - Nextcloud](https://user-images.githubusercontent.com/694970/68036422-ea3af500-fcc5-11e9-9c39-021df9f7e1af.png)

If you are working with historic entries, this is

[2019-11-02 16:35] kesselb commented on #1622
I think this belongs to nextcloud/calendar.

[2019-11-02 20:12] #1622 closed

[2019-11-02 20:12] georgehrke commented on #1622
#703

Implemented in calendar 2.0

[2019-11-03 23:41] yoonghm commented on #1483
Could you consider to allow an external client program to import .ics file to change calendar entry? Or is it possible for client program to update/create/delete calendar entry via API?

[2019-11-04 07:46] georgehrke commented on #1483
@yoonghm There is a public API: CalDAV.

[2019-11-04 11:10] georgehrke commented on #1576
Dropdown for new reminder.
Current behaviour is no properly discoverable that it automatically adapts

[2019-11-04 11:13] jancborchardt commented on #1023
@dgsiegel is this basically what is similar to Calendly? If you can share any screenshots of the Calendly flow or how you use it, that would be great :)

[2019-11-04 11:44] jancborchardt commented on #1023
Here is an example of how [Outlook](https://outlook.live.com/owa/) does it on mobile, starting in Mail:
![outlook mobile availability flow](https://user-images.githubusercontent.com/925062/68118649-cadbdc00-ff00-11e9-9471-99ceced1b190.png)

[2019-11-04 11:48] jancborchardt opened #1623 "Weather integration"
It would be cool to directly see the weather of your location in the Calendar. Here’s how Outlook does it:
![](https://66.media.tumblr.com/60a83e0018d7d709b5ebfc7739dd931b/tumblr_mps0sh6XtM1qea4hso1_r1_640.png)

And GNOME Calendar:
![Gnome calendar weather display](https://user-images.githubusercontent.com/925062/68118760-12626800-ff01-11e9-89f3-63f51c84feac.png)
![Gnome calendar weather](https://

[2019-11-04 11:51] jancborchardt opened #1624 "Show events not visible in current viewport"
As per [Little Big Details](https://littlebigdetails.com/post/80469386153/os-x-calendar-when-there-are-future-events):

This would be very useful in the week and day views especially. Has to be checked if possible with Fullcalendar, or otherwise. cc @georgehrke @tcitworld

![](https://66.media.tumblr.com/b9a235264808f6b4d1f63180957b4507/tumblr_n0gamin8u41qea4hso1_500.png)

[2019-11-04 11:53] jancborchardt opened #1625 "Show photos in the past on the day they were taken"
This would be some nice cross-app integration. When you go back in time in the calendar, photos you took with exif date could be shown as small previews on the days they were taken.

What makes this especially cool is that then the photos are visually linked to the events you had, e.g. conferences, vacations, birthdays etc.

[2019-11-04 12:20] georgehrke commented on #1624
This is something that should definitely be done upstream.
Will check if there is an issue or open one if not.

[2019-11-04 13:57] georgehrke commented on #1624
I created an upstream ticket: https://github.com/fullcalendar/fullcalendar/issues/5120

[2019-11-04 14:49] #1590 closed

[2019-11-04 18:14] georgehrke commented on #1576
@jancborchardt Are you sure about this?
That means that we will show 8 radio buttons at a time, quite a lot.
And with all the different translations out there, we are not able to fit each set of them in a row.

[2019-11-04 18:20] georgehrke commented on #1576
There is a standard? There is at least no vue-component for it yet.

[2019-11-04 19:28] jancborchardt commented on #1576
No, that’s the stuff I’m least sure about – let’s leave it for last, if at all. :)

If you like, feel free to adapt it based on the emptycontent styles of the files app content area e.g. for empty folders and make a component out of it. :)

[2019-11-04 22:49] georgehrke commented on #1621
Heavily related to #1144

[2019-11-05 12:17] mikweb2017 opened #1633 "Calendar 2.0.0 Beta 2"
### Steps to reproduce
set new event

### Expected behaviour
event and was created

### Actual behaviour
was not created

## Server configuration detail

**Operating system:** Linux 4.4.0-166-generic #195-Ubuntu SMP Tue Oct 1 09:35:25 UTC 2019 x86_64

**Webserver:** Apache (fpm-fcgi)

**Database:** mysql 5.7.27

**PHP version:**

7.3.11
Modules loaded: Core, date, libxml, openssl, pcre, zlib, bz2,

[2019-11-05 13:10] georgehrke commented on #1633
Can't reproduce with Firefox 71.

finally should be supported by Firefox since version 58
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/finally

[2019-11-05 13:10] georgehrke commented on #1633
@tcitworld Can you reproduce this?

[2019-11-05 13:11] georgehrke commented on #1633
@mikweb2017 How did you install the beta?

[2019-11-05 13:14] georgehrke commented on #1633
Error is thrown here https://github.com/nextcloud/calendar/blob/v2.0.0-beta2/src/mixins/EditorMixin.js#L596

Although i do not see why.

[2019-11-05 13:23] georgehrke commented on #1633
I guess this is similar to this one: https://github.com/vuejs/vue-cli/issues/2012#issuecomment-409472321

We have to change from babel polyfill to core.js anyway. Let me look into that right away

[2019-11-05 13:31] raimund-schluessler commented on #1633
When you are already on it, you could also consider to use async/await instead of .then().catch().

[2019-11-05 13:46] georgehrke commented on #1633
Yes, but at that time, i wasn't sure whether we can hand over an async function to next (vue-router). need to check that first.

[2019-11-05 17:13] georgehrke commented on #394
Closing in favor of #724

[2019-11-05 17:13] #394 closed

[2019-11-05 17:58] georgehrke commented on #1576
Why conversations?

[2019-11-05 20:57] dgsiegel commented on #1023
Yes, that's about right. Ideally, instead of sending out an invite I could send a link, where people not registered on my Nextcloud instance can select a time and date for a meeting.

[2019-11-05 21:56] jancborchardt commented on #1576
I guess I thought you can add Talk conversations? Ignore if that’s not the case. :D

[2019-11-06 09:53] mikweb2017 commented on #1633
downloaded directly from Github and uploaded via FTP to my server.
With Firefox 70.0.01 it works very well

[2019-11-06 11:44] georgehrke opened #1640 "Sharing published link via email doesn't work"
*cough* *cough*
https://github.com/nextcloud/calendar/blob/master/src/components/AppNavigation/CalendarList/CalendarListItemSharingPublishItem.vue#L213L228

[2019-11-06 14:38] yoonghm commented on #1483
Thanks

[2019-11-06 17:22] sumnerevans commented on #1023
I haven't really used Calendy, but from my understanding, it dosen't seem like Calendy has as much control over which blocks of time are available for people to book.

A lot of times I don't want people to be able to book my time, even if I don't have an official event on my calendar (for example, maybe that is my "get in the flow" time, and I don't want that to necessarily be on my  calendar, but

[2019-11-07 08:23] #1633 closed

[2019-11-08 01:23] szaimen commented on #298
Since I don't know whether this attachment can be based on the caldav standard, I think the best option would be to automatically write the internal link of the attached file into the description-field. Otherwise you probably get problems with some calendar client apps.
But this file should ahen directly uploaded or chosen from the computer be located in the appdata folder as suggested here: https

[2019-11-08 20:37] vasyugan opened #1643 "monthly recurring event at specific week day."
For monthly repetitions it would be good to have the option to choose the nth weekday, such as "first Saturday", "third Wednesday", because that's a quite a natural rhythm for recurring events.

[2019-11-09 11:28] Hundhausen opened #1644 "[Feature Request] Add own categories, delete default ones"
**Describe the solution you'd like**
It would be nice if you could add own categories and delete default ones.

**Additional context**
With v2.0.0-beta2 and Issue #107 categories got added and so far it works. Categories from Thunderbird get shown in the web calendar and vice versa but it would be nice to delete unwanted default categories and add own categories for direct selection for the web ca

[2019-11-10 20:17] juliushaertl opened #1654 "Full day event is breaking calendar view"
The following calendar entry causes no listing of any events of the related calendar on Calendar 2.0.0 beta2:

[code]

[code]

Related line in calendar-js:
https://github.com/georgehrke/calendar-js/blob/669dd298d93633f0e70c0c271d96d72a76377cbd/src/components/root/eventComponent.js#L86

[2019-11-10 21:16] juliushaertl opened #1655 "Shared calendar entry to crowded in the navigation"
I guess the "Shared" text could just be omitted:

![image](https://user-images.githubusercontent.com/3404133/68550903-a358a800-0407-11ea-8f63-5d19c92ad6b6.png)

cc @nextcloud/designers

[2019-11-11 08:05] georgehrke commented on #1643
Duplicate of #10

Implemented in Calendar 2.0

[2019-11-11 08:05] #1643 closed

[2019-11-11 08:08] georgehrke commented on #1654
Super weird, since there is a start-date, but let me look into it. Thx!

[2019-11-11 08:10] georgehrke commented on #1654
@juliushaertl Can you please provide me the full ics? (The entire `BEGIN:VCALENDAR` ... `END:VCALENDAR` block)

[2019-11-11 08:23] juliushaertl commented on #1654
Shared it with you on our Nextcloud.

[2019-11-11 09:33] #1300 closed

[2019-11-11 11:58] ma12-co commented on #1655
Another option we have would be switching to the `AppContentListItem` component that we'll be using in talk, contacts and mail. That way we'd have double the height to organize all those elements.

![Screenshot_20191111_125356](https://user-images.githubusercontent.com/26852655/68585370-5b2a9b80-0482-11ea-8bbe-63af4695f6eb.png)

[2019-11-11 11:59] georgehrke commented on #1655
@juliushaertl The item is in the AppNavigation, not AppContentList :)

[2019-11-11 12:01] georgehrke commented on #1655
I'm fine removing it.
We already show the shared state with the opacity.

The idea was to have it consistently with Files, where you also have that label. But in the file-list there is obviously much more space, compared to AppNavigation.

[2019-11-12 06:31] skjnldsv commented on #1655
Yes, but Marco built a standard component that works in both locations (as same design and layout for mail/contacts/talk) :+1:

[2019-11-12 06:45] jancborchardt commented on #1655
We do have the 2-row component of course, but why should we use it for the Calendar here? :) It's for different use-cases where much more info is displayed.

If you look at Apple Calendar, Google Calendar etc, they have a very similar layout for the list as we have currently.

We shouldn't use components for the sake of using components. The components follow what makes sense design-wise.

In this

[2019-11-12 14:52] mikch06 opened #1656 "Delete old calenadar entries"
The user should be able to delete old entries batch wise.
Most importan thing is having options like:

- delete entries older than a year
- delete all entries in the past
- ...

[2019-11-12 14:58] tcitworld commented on #1656
Hard to handle through CalDAV. I guess we should we move this to server.

[2019-11-14 10:25] YXWVECWUHKAVHWQJRGLHKLHRJDNPQH opened #1659 "Deleting recurring events (only one of them)"
Hi. I use the agenda Nextcloud on MacBook computer with Firefox. I meet a
bug on the deleting of recurring events. Indeed, when I delete a recurring event, all occurrences are deleted. I would like, like on the phone (iphone with standard calendar), to have the possibility to delete a single event of the occurrence
Thanks,
J.

[2019-11-14 10:34] tcitworld commented on #1659
Available in upcoming version 2.0. See #7

[2019-11-14 10:34] #1659 closed

[2019-11-14 13:14] kristofejro opened #1660 "2.0.0 beta2 search attendees only with email addresses"
Is it by design that 2.0.0 beta2 will not search attendees without email addresses?
In 1.7.1 it was possible.

[2019-11-14 13:15] georgehrke commented on #1660
If that was a case, then it was a bug.
In order to invite contacts to an event, they need to have a valid email address.

[2019-11-14 13:15] #1660 closed

[2019-11-14 19:15] enoch85 opened #1661 "ReminderService::parseCalendarData() must be of the type string"
### Steps to reproduce
No idea. I think it's when sending calendar invitations from the Web calendar.

### Expected behaviour
No errors

### Actual behaviour
See nextcloud.log

### Calendar app
**Calendar app version:** (see apps admin page, e.g. 2.0.1)
1.7.1

**CalDAV-clients used:** (Thunderbird Lightning, DAVx5, Evolution, macOS Calendar, etc)
DAVx5

### Client configuration
**Browser:** (e.g.

[2019-11-14 20:39] georgehrke commented on #1661
@enoch85 As the big note on top of the issue template states: CalDAV issues belong in the server :)

[2019-11-17 18:52] yodax opened #1668 "Calendar data database migration failure"
### Steps to reproduce
1. Migrate data from sqlite to postgresql
2. use occ db:convert-type
3.

### Expected behaviour
Data should be migrated

### Actual behaviour
An error occured:

[code]

### Calendar app
**Calendar app version:** 1.7.1

**CalDAV-clients used:** N/A

### Client configuration
**Browser:** ssh

**Operating system:** Ubuntu 18.04

### Server configuration

**Operating system**: U

[2019-11-22 08:57] georgehrke commented on #1654
Fixed in https://github.com/georgehrke/calendar-js/commit/24f9c8e684db3421ac4487e6eb8a811a0b845ab7

Additional hardening in #1657

[2019-11-22 08:57] #1654 closed

[2019-11-22 12:19] #1655 closed

[2019-11-22 16:06] pierreozoux commented on #1408
For people passing by and wondering how to do before v2 is out, you could simply use:

https://github.com/nextcloud/calendar/blob/master/lib/Controller/ContactController.php

Works like a charm!

[2019-11-25 22:31] andyforceno opened #1683 "Unable to add new events or edit existing in Firefox v66"
** This is unique to Firefox, it doesn't occur in Chrome. I disabled all content blocking in Firefox as well as any add-ons that may prevent js from loading, but it didn't resolve the issue. I can also reproduce the issue in a private window in Firefox **

### Steps to reproduce:
1. In Firefox v66 desktop application, click the New Event button in Calendar app or click on an existing event to edit

[2019-11-26 11:43] pandruszkow commented on #1483
I'm not sure why the corresponding pull request was closed (without merging, as far as I can see). Are there still plans to implement this feature?

[2019-11-26 11:45] georgehrke commented on #1483
Because we had to migrate the calendar from AngularJS to Vue.js, so the pull-request was no longer mergeable since there were too many merge-conflicts.

yes, otherwise this issue would not be open.

[2019-11-26 11:58] pandruszkow commented on #1483
All right, thanks a lot.

[2019-11-27 09:22] samweisgamdschie commented on #629
I totaly need this feature too! I added another handful of bugs. And I am generally with @georgehrke , it's better to follow KISS.

That's why I thought, maybe it could be the easiest way to have a **history of the last x manually configured reminders** in the dropdown?! For advanced features there are existing advanced clients.

But I definitely need a preselection setting for every entry.

[2019-11-27 21:31] szaimen opened #1690 "Disable labels if the labels app is disabled"
**Is your feature request related to a problem? Please describe.**
I actually don't know if it is a bug or a feature but I think if the labels app is disabled, the calendar app 2.0 shouldn't show labels as well.

**Describe the solution you'd like**
Please disable labels in the calendar app if the labels app is disabled.

**Describe alternatives you've considered**
Maybe you could handle it indepe

[2019-11-28 02:45] pm-pm opened #1691 "Mark&Copy from read-only calender not possible with FF, only with IE11"
### Steps to reproduce
1. Open a read-only calender from other user with IE11 and FF(70)

### Expected behaviour
You can Mark&Copy WITH BOTH Browser the Information from read-only calender

### Actual behaviour
Mark&paste only possible with IE11, NOT possible with FF

### Calendar app
Calender App 1.7.1
Nextcloud 17.0.1
Server Debian 10

See Screenshot below.

Could someone please make FF run for

[2019-11-28 07:47] georgehrke commented on #1690
This is the intended behaviour, because the labels are not connected to the labels in the server.

I really really don't see a need to disable it. Why would you want to disable it?

[2019-11-28 07:48] georgehrke commented on #1691
Dup of https://github.com/nextcloud/calendar/issues/555

[2019-11-28 07:48] #1691 closed

[2019-11-28 10:08] georgehrke commented on #1683
Are you absolutely sure you are using Calendar 1.7.1 and not the beta version of Calendar 2?

[2019-11-28 10:09] georgehrke commented on #1683
In case you are running the beta, this is a duplicate of https://github.com/nextcloud/calendar/issues/1633

[2019-11-28 12:46] pm-pm commented on #555
I opened #1691 because i could not believe that problem exists over years.
I have also found some other restrictions at the calender app: Using on smaller screens have problems.

Does anybody use the calender/nextcloud in real production with real users who are allowed to complain? ;-)
If "yes" the user would complain loudly.

I know it is not easy to program all the code, but please make the soft

[2019-11-28 12:47] andyforceno commented on #1683
That's what Nextcloud reports as the version number. I recall downloading it manually from https://apps.nextcloud.com/apps/calendar (I think). For the record, here's what my issue looks like:

![nextcloud-cal](https://user-images.githubusercontent.com/3803896/69807340-0d689f80-11b3-11ea-8e0e-0788f04c7685.png)

It just appears to load like that forever, so I can not set the event information. Calen

[2019-11-28 12:48] georgehrke commented on #1683
Looking at the screenshot you are definitely running Version 2 beta

Duplicate of #1633 in that case.

[2019-11-28 12:48] #1683 closed

[2019-11-28 12:49] georgehrke commented on #555
@pm-pm This bug has been fixed, that's why it's closed :)

Please open a dedicated issue with a full problem description. If you comment on closed issues with "oh btw, feature abc also doesn't work like expected" your comment just gets lost and never fixed.

[2019-11-28 12:56] andyforceno commented on #1683
This may be a duplicate of that issue, but I am certain I am using calendar v1.7.1 as I just reinstalled it and I'm still having the problem. I cannot reproduce it in Firefox 71, though. It's not a big deal for me personally, I usually access the calendar through Thunderbird and mobile apps.

[2019-11-28 13:02] georgehrke commented on #1683
I'm sorry, but looking at that screenshot I'm 100% sure, absolutely no doubt, that you are running Calendar 2 beta. Version 1 looks completely different in dark mode.

I also double checked that we didn't accidentally release Calendar 2 beta on the stable channel.

Did you possibly test 2 beta in between, downgrade to 1 but now the javascript files of 2 beta are still cached in your browser?

[2019-11-28 13:10] andyforceno commented on #1683
I don't recall doing that, but it's not out of the realm of possibility. I will defer to your expertise in this case and keep the issue closed. Thanks for looking into it.

[2019-11-29 02:15] pm-pm opened #1692 ""Today/Heute" Button does not jump to actual day after midnight"
Hello,

the "Today/Heute" Button do not jump to actual day after midnight.

E.g:
1st October: Open Calender at 22:00h - Calender shows 1st October. Ok.
Wait 4 hours until 2nd October 02:00h
Press "Today/Heute" Button. - Nothing happens. Calender still shos 1st October.

Expected: Jump to 2nd October

This also happens when you wake up your computer in the morning after sleep mode over night.

Coul

[2019-11-29 06:46] georgehrke commented on #1692
@pm-pm Can you please fill the entire issue template?
If you don't even tell us what version of Nextcloud / the calendar app you use, we can't help you 😉

[2019-11-29 14:02] pm-pm commented on #1692
ok, of course
Nextcloud 17.0.1 on Debian 10
Calender 1.7.1 (And calenders before)

[2019-11-29 18:03] szaimen commented on #1690
The idea was, that if you don't use labels in the calendar app at all, they don't get shown.
But the current behavior makes sense since the labels aren't connected to the labels in the server.
So I going to close this issue.

[2019-11-29 18:04] #1690 closed

[2019-11-29 21:33] mojoaxel commented on #708
@georgehrke Thanks!
Could you please point me to the documentation on how this feature is implemented in the new vue calendar!?

[2019-12-03 09:41] #1640 closed

[2019-12-03 09:42] georgehrke commented on #238
@tcitworld Were you able to figure out what's going wrong? :)

[2019-12-03 15:07] #769 closed

[2019-12-04 18:22] trollepierre opened #1700 "Lots of Google events not imported"
I got errors while important some of my google agendas.
Here is a screenshot of the related issues and one .ics causing errors.
Can you help me?

<img width="460" alt="Capture d’écran 2019-12-04 à 19 11 24" src="https://user-images.githubusercontent.com/8363334/70169262-c7d43700-16ca-11ea-983f-2707f624b5ea.png">

BEGIN:VCALENDAR
PRODID:-//Google Inc//Google Calendar 70.9054//EN
VERSION:2.0
CALSC

[2019-12-05 08:41] readonly24 commented on #9
I just upgraded to Nextcloud 17 and I was hoping that I can sort my calendars by name, but unfortunately I can't.

Isn't it that easy as put a value in the column _calendarorder_?

[2019-12-05 10:21] georgehrke commented on #9
Not quite that simple, but if you would be interested in sending a pull-request i would be happy to give a more detailed explanation how to implement this.

[2019-12-05 12:21] georgehrke commented on #1700
Please fill the __entire__ [issue template](https://raw.githubusercontent.com/nextcloud/calendar/master/.github/ISSUE_TEMPLATE/bug.md)

Important information are missing that would help us resolve this issue.

[2019-12-05 15:56] trollepierre commented on #1700
### Steps to reproduce
1. Go to https://framagenda.org/apps/calendar/
2. Settings & Importation
3. Import an agenda (or a calendar, I don't know exact translation in English)
4. Make the agenda in this issue an .ics file
5. Import this file .ics

### Expected behaviour
All the events should be added.  408 OK imported events

### Actual behaviour
120 ok 288 KO while importation of my events

### Ca

[2019-12-05 15:57] georgehrke commented on #1700
Please also provide your Nextcloud.log

[2019-12-05 15:59] trollepierre commented on #1700
What is Nextcloud.log? I am using Framagenda, I don't know where to get these logs back

[2019-12-05 16:01] georgehrke commented on #1700
@tcitworld Can you help? :)

[2019-12-06 12:28] #796 closed

[2019-12-06 14:03] georgehrke commented on #1474
Only #1473 is left, closing this ticket then.

[2019-12-06 14:03] #1474 closed

[2019-12-07 11:38] jsschmid commented on #298
I didn't follow the developement up to this point, so please disregard my posting if it has already been taken care of:
Reading something about internal links I wonder if regular calendar apps like the one from Thunderbird will work in a way the user is used to handle calendar attachements. To me this seems a very important requirement for acceptance of this solution within the users.

[2019-12-09 08:23] jancborchardt commented on #298
Yep, good call. And similar as in Talk, once we do allow uploading files, for those there should indeed be a fixed hidden folder.

[2019-12-09 13:38] jsschmid commented on #298
As a first iteration - why not. But just keep in mind this will lead to a different behavior when you use the calendar in Nextcloud compared when you use it on your phone / Lightning / etc.

[2019-12-09 14:17] georgehrke commented on #298
Thunderbird lightning does not allow you to add attachments as files, only as links (Thank god for that)

![C2066C42-5F43-4DA0-8892-67136FAB7CA1](https://user-images.githubusercontent.com/1250540/70442440-a42c3a80-1a96-11ea-8ff8-2137ab133219.png)

So that would be exactly the same behaviour as in Nextcloud, just that we show a file-picker for Nextcloud and add the link to the file, instead of allo

[2019-12-09 19:07] CoolJoni opened #1715 "Setting Page"
Currently there is only a settings popup available. In order to be able to set holidays and public holidays later, a separate settings page would make sense.
Also further settings like standard colors or other would be easier.

[2019-12-09 20:42] georgehrke commented on #1715
Not sure this is a valid enhancement request?

As long as all the settings we have fit into the lower left box, it's gonna stay like that, because that' the standard design for Nextcloud. Once we offer more or only advanced settings, we can talk about a dialog or dedicated settings page.

But we won't add more settings for the sake of adding settings. We are pursuing good defaults and only provide

[2019-12-09 20:42] #1715 closed

[2019-12-11 16:55] guibarbas opened #1716 "Sync and alerts"
Hello good afternoon
I would like to answer two questions.

1 - How can I sync my calendars with Google Calendars?
I've already set up inside Google Calendars and inside Nextcloud Calendar (Google appointments don't show up in Nextcloud and Nextcloud shows don't show up in Google)
[https://prnt.sc/q9fti6](url)

2 - When I select the email alert, this message appears (Email reminders have not yet b

[2019-12-11 16:59] georgehrke commented on #1716
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

If you wish support with setup issues from Nextcloud GmbH we offer this as part of the Nextcloud subscription. Learn more about this at https://nextcloud.com/enterprise/

[2019-12-11 16:59] #1716 closed

[2019-12-11 20:22] markuswochnik opened #1717 "shared users e-mail hiding behind main calendar section"
Hello,
i don't really know how can i better explain it, so here a picture of the problem.
When hovering over the shared person, the email ist cropped and it looks like its "behind" the main section.

![nxc-calendar-beta3bug](https://user-images.githubusercontent.com/7039362/70657386-02eee100-1c5c-11ea-90b0-5abdc2ccccd0.png)

Nextcloud Version: 17.0.1
Calendar Version: 2.0.0 beta3
Firefox Version:

[2019-12-12 10:41] kalimuthu123 opened #1718 "Calendar data entry"
hi @nextcloud  i am very much interested in those feature level based application s which are to be possible of data entry on thie calendar

[2019-12-12 10:44] georgehrke commented on #1718
I'm not quite sure i understand what you are requesting here.

Can you please use the [feature request template](https://raw.githubusercontent.com/nextcloud/calendar/master/.github/ISSUE_TEMPLATE/feature_request.md) (It's there for a reason, not just for fun 😉) and describe a problem you are facing and propose a way to fix it?

[2019-12-12 10:51] georgehrke commented on #1718
And please refrain from using (at)nextcloud, as it's mentioning every single person who is part of this organisation. Thx.

[2019-12-12 11:01] kalimuthu123 commented on #1718
i  am need of a new feature of the data entry in particular dates and convert into excel as export option
thanks for your advices

![](https://github.githubassets.com/images/icons/emoji/unicode/1f609.png)

[2019-12-12 11:07] georgehrke commented on #1718
You have still not described what problem you are trying to solve ...

I honestly don't see a need to implement an Excel export feature. I'm pretty sure there are already plenty of tools out there that convert ICS to Excel (or at least CSV).

Can you please raise your question in our forum: https://help.nextcloud.com/c/apps/calendar
There might already be some threads about ICS to CSV.

[2019-12-12 11:07] #1718 closed

[2019-12-12 15:02] georgehrke commented on #1717
I would consider this a bug in nextcloud/vue

@tcitworld Agree?

[2019-12-12 15:39] tcitworld commented on #1717
Absolutely.

[2019-12-14 15:31] ahmedmohiduet commented on #402
@briner I would love to implement this feature. But, can you guide me a little as in which classes/pages to play around to test this feature properly?

[2019-12-14 15:49] briner commented on #402
@ahmedmohiduet, I'm not really sure what you ask for. But, the idea is to show the calendar as a list so that it can be read on a smartphone.

And to be able to click on an event a to get a detailed view.

[2019-12-14 16:00] ahmedmohiduet commented on #402
@briner Thank you for the prompt response. I am kind off new to nextcloud server. So I wasn't sure how to setup my local test environment for testing new UI implementation

[2019-12-14 17:25] kbeerepoot commented on #402
**@briner @ahmedmohiduet** In my opinion the motivation for a list view is not just so that it can be read on a smartphone. I'd very much like to have the list view available on my laptops also.
But to me the main advantages of a list view would be:
- to not have the days in view where I have no meetings/appointments
- to be able to see (not just) the **full meeting title** (which is now usually s

[2019-12-14 17:52] ahmedmohiduet commented on #402
@kbeerepoot: Got it. I believe I can imlement this. Will begin tomorrow

[2019-12-15 10:16] georgehrke commented on #402
@ahmedmohiduet Hey, Thank you for picking up this issue! I would appreciate if you could post a small proposal / your planned steps first, so that we can make sure that we end up with a mergeable pull-request. Thanks

[2019-12-15 10:24] sunjam commented on #402
For a quick reference, here is the *Schedule* view of a calendar in
Google.  It lists items by Date - Calendar Color - Times - Title & Location
[image: Screen Shot 2019-12-15 at 2.19.29 AM.png]

On Sun, Dec 15, 2019 at 2:16 AM Georg Ehrke <notifications@github.com>
wrote:

[2019-12-15 14:13] ahmedmohiduet commented on #402
Hi @georgehrke! Sorry for the late reply. I was browsing through nexcloud (https://play.google.com/store/apps/details?id=com.nextcloud.client&hl=en) android app UI. It appears it only has a tiny 'Sync calendar & contacts' menu item and no other calendar options and pointing me to a paid 'DAVx5-CalDAV/CardDAV Client' app. So, my question is, can I test the calendar portion of the app(https://play.g

[2019-12-15 15:51] georgehrke commented on #402
This issue has absolutely nothing to do with Android, it's about the calendar in the Nextcloud webinterface.

Also, the Nextcloud Android app does not provide its own calendar UI, it's just allowing you to edit the Nextcloud calendar through the standard calendar app on Android.

[2019-12-15 16:41] tcitworld commented on #402
That's DAVx5, not the Nextcloud Android App, for clarification.

[2019-12-15 16:50] ahmedmohiduet commented on #402
@georgehrke Ahh sorry. I misread it. My bad. Alright, I am going through documentation and setting up my local Nexcloud server instance at the moment. So far, I am looking to 1) setup my nextcloud server,  2) check out calendar UI on laptop browser 3) update my UI(HTML,JS,CSS) 4)test calendar UI on my laptop browser 5) test them on android, make sure designs are responsive 6) test UI on iPhone 7)

[2019-12-15 17:51] georgehrke commented on #402
Just a few further hints from my side:
- You can add a new view button in [here]( https://github.com/nextcloud/calendar/blob/master/src/components/AppNavigation/AppNavigationHeader/AppNavigationHeaderViewMenu.vue#L45L59)
- Make sure to add it in [here](https://github.com/nextcloud/calendar/blob/master/appinfo/routes.php#L29L31) and [here](https://github.com/nextcloud/calendar/blob/master/lib/Contr

[2019-12-16 23:26] georgehrke commented on #39
Pull-Request: https://github.com/nextcloud/calendar/pull/1731

[2019-12-18 18:20] trollepierre commented on #1700
Any news?

[2019-12-19 06:30] pbartyik opened #1734 "random fuzzy UI elements"
UI elemends displayed seemingly randomly when switching between windowed and fullscreen mode.

Sometimes element displays clean when fullscreen and not when windowed, sometimes displays clean when windowed but not when fullscreen. I was so far unable to determine proper steps to reproduce.

So far I have seen only once that both states are displayed correctly in Qutebrowser.

When testing in firef

[2019-12-19 08:47] tcitworld commented on #1700
@trollepierre Please contact Framasoft through https://contact.framasoft.org and link to this issue.

[2019-12-19 08:47] #1700 closed

[2019-12-19 08:52] tcitworld commented on #1734
Unfortunately [we don't support](https://github.com/nextcloud/calendar#earth_africa-supported-browsers) qutebrowser.
This seems to be a specific issue with browser rendering, so maybe try to disable GPU acceleration: https://github.com/qutebrowser/qutebrowser/issues/2671#issuecomment-343697516

[2019-12-19 08:52] #1734 closed

[2019-12-19 13:54] sciurius opened #1735 "Calendar settings menu has wrong title"
### Steps to reproduce
1. Open the Calendar
2. Look at the settings menu bottom-left

### Expected behaviour
The title should be "Settings & import"

### Actual behaviour
The title is "Settings &amp;amp; import"

![scrot20191219145413](https://user-images.githubusercontent.com/1118804/71178962-7b166180-226f-11ea-96bb-e91b5b2b5407.png)

### Calendar app
**Calendar app version:** (see apps admin pag

[2019-12-19 14:02] sciurius opened #1736 "Appointments do not show minutes when zero"
### Steps to reproduce
1. Open the Calendar
2. Make an appointment starting at 08:20
3. Add an appointment starting at 10:00

### Expected behaviour
Displayed times should be "08:20" and "10:00".

### Actual behaviour
Displayed times are "08:20" and "10".

![scrot20191219145802](https://user-images.githubusercontent.com/1118804/71179453-7a31ff80-2270-11ea-9a0f-55e99e63c7c9.png)

### Calendar app
*

[2019-12-21 06:46] kallegit1950 opened #1737 "Calendar is not synced in full"
I sync my nextcloud calendar with Android (davdroid) and with Kontact (Linux KDE). In both cases only the last months are synced and not the full calendar. Since the issue occurs for two completely setups I assume that it is an issue with nextcloud calendar and not with the calendars receiving data from nextcloud. The nextcloud calendar shows in the browser all entries so they exist.

[2019-12-21 07:11] tcitworld commented on #1737
I don't know about KOrganiser, but DAVx5 only syncs the last 90 days by default, that's a config options in the account settings.

[2019-12-23 10:02] bjoern-tantau opened #1748 "Wed translated as Hochzeit"
I've only got a screenshot, couldn't reproduce it myself, but it looks like in the calendar the English day abbreviation "Sun" has been translated in German to "Sonne" (should be "So.") and "Wed" has been translated to "Hochzeit" (should be "Mi.").

![IMG-20191223-WA0000](https://user-images.githubusercontent.com/8307357/71351323-b072c600-2573-11ea-85bc-b9a9d61aa467.jpg)

[2019-12-23 12:22] tcitworld commented on #1748
Please provide at least server, app and browser version.

[2019-12-24 11:59] MellowVoidUser opened #1749 "Easy copy event -- enhancement"
Many time I have to copy an event. Until now I use Thunderbird lightning because of this, but if calendar would add a easy way to copy (and repeat copy) a event that would be awesome!

[2019-12-24 13:55] tcitworld commented on #1749
Copying events is duplicate from… #113

Repeat copy is probably not really in the scope of this app, right @georgehrke ?

[2019-12-25 19:10] twinkybot opened #1750 "Calendars not shown - Invalid Date or NaN to Nan for week view"
Hello,

I am using Nextcloud 18.0.0 Beta 3 and Calendar 2.3.4.
When I open the Calendar I am getting an empty page or only the sidebar as seen in the attached screenshot.
Changing vie to Week leads to change the title of Firefox to "Woche Nan aus NaN..." (Week NaN of Nan...)
I am not seeing anything in the logs (independent of log level).

Language file or so seems to be broken as well. Text for s

[2019-12-27 14:48] dieter-wilhelm commented on #167
Added 50 € on Bountysource for this indespensible calendar feature.  But for the sake of privacy there must be an option to hide the list of invitees!

[2019-12-28 23:54] vchrizz opened #1752 "new calendar entry is discarded on click within whitespace between cancel and create"
### Steps to reproduce
1. go to calendar
2. create new event
3. click on whitespace between cancel and create buttons

### Expected behaviour
new calendar entry should not vanish or be discarded

### Actual behaviour
new calendar entry vanishes

### Calendar app
**Calendar app version:** 1.7.1

**CalDAV-clients used:** WebInterface

### Client configuration
**Browser:** Google Chrome (v79.0.3945.8

[2020-01-03 12:51] ToeiRei opened #1756 "Cannot enter minutes manually off-slot"
### Steps to reproduce
1. Open Calendar
2. Enter new Event - set begin to i.e. 10:15 (slots do not offer 15 min)
3. Select end

### Expected behaviour
Begin time should stay at 10:15

### Actual behaviour
As you leave the start time field, it gets reset to something else

### Calendar app
**Calendar app version:** (see apps admin page, e.g. 2.0.1)
2.0.0-beta3

**CalDAV-clients used:** (Thunderbird

[2020-01-03 15:23] tcitworld commented on #1750
Please also provide browser logs (F12).

[2020-01-04 09:28] tcitworld commented on #1750
`this.$options.calendar is undefined` is probably the issue.

[2020-01-04 10:31] RainerB commented on #642
Just a short confirmation that I experience a (very) similar issue with Nextcloud 17.0.2.
Horde calendar export, then import to NC calendar is working fine. But if I try to create a new entry (doesn't matter which calendar), my browser (Firefox/Chrome) slows down ("freezes" the tab) and the browser offers to stop the affected script. The operation (new calendar entry) doesn't finish. The mentioned

[2020-01-04 17:38] FredericLespez commented on #1752
I  can confirm this bug.

**Client configuration**
Browser: Mozilla Firefox (v71.0)
Operating system: Debian 10

**Server configuration**
Operating system: Debian 10
Web server: Apache2
Database: PostgreSQL
PHP version: 7.3
Nextcloud Version: 17.0.2

[2020-01-05 13:20] georgehrke commented on #1749
Duplicate of #113

[2020-01-05 13:20] #1749 closed

[2020-01-05 13:20] georgehrke commented on #1749
I was planning to copy the RRULE, but not RDATE and EXDATE, in case that's what @MellowVoidUser refers to.

[2020-01-05 13:22] georgehrke commented on #1750
@twinkybot Can you please post the entire URL you are using to access the calendar? (Feel free to replace the actual domain with example.com, I'm mostly interested in the part after that)

[2020-01-05 13:22] georgehrke commented on #1750
@twinkybot And in the future, please fill the entire issue template. It's there for a reason 😉

[2020-01-05 13:23] georgehrke commented on #1756
Do you use Nextcloud in U.S. English or did you pick another locale / language?

[2020-01-05 13:24] martignoni commented on #708
@georgehrke Thank you for this!

Is there some URL example for using this? I tried
[code]
without success.

[2020-01-05 13:26] ToeiRei commented on #1756
Locale: German (Austria)

[2020-01-05 13:38] georgehrke commented on #1735
@ChristophWurst @skjnldsv This seems to be an issue with nextcloud-vue, because I don't see how else i should do it: https://github.com/nextcloud/calendar/blob/master/src/components/AppNavigation/Settings.vue#L23

How should we handle this? Should we add an additional properly `:title-vhtml="true"`?

[2020-01-05 13:39] georgehrke commented on #1736
cc @nextcloud/designers @tcitworld

I have to say that i prefer the short version, because it gives more space to the title.

[2020-01-05 13:42] georgehrke commented on #1737
We are not aware of any issue with non-syncing events. I strongly agree with @tcitworld's suspicion here.

[2020-01-05 13:42] #1737 closed

[2020-01-05 13:43] georgehrke commented on #1748
Closing, since we didn't receive any feedback and even the original reporter said:

[2020-01-05 13:43] #1748 closed

[2020-01-05 13:52] raimund-schluessler commented on #1736
To me it also looks a bit off with the short version.

[2020-01-06 08:09] georgehrke commented on #1750
Looks like the base of the router is wrong, that's why it's mistaken `/apps/` as a view.

Can you please double check the calendar app version?
There is no version 2.3.4 yet 😉

[2020-01-06 08:32] skjnldsv commented on #1735
Isn't it coming from the `t()` function?

[2020-01-06 08:34] georgehrke commented on #1735
Yes, `t()` is automatically escaping it: `"Settings &amp; Import"`.
That's why my suggestion was to allow to use vhtml for the Settings title, but I'm open for other solutions.

[2020-01-06 09:22] skjnldsv commented on #1735
@georgehrke or automatically urldecode the text?

[2020-01-06 09:27] georgehrke commented on #1735
Doesn't do anything, because it's not URI encoded:
![9F4780CC-8E70-4516-8B52-0527BFC5DAB5](https://user-images.githubusercontent.com/1250540/71808896-2d6f6680-306f-11ea-98f4-8d797187a869.png)

[2020-01-06 09:29] skjnldsv commented on #1735
I meant htmldecode :p

[2020-01-06 09:45] georgehrke commented on #1735
Not sure if we don't have our own implementation that I'm not aware of, but there is no method to decode HTML in the standard javascript libs.

You can write your own using `document.createElement()`, `innerHTML` and `innerText`.
I guess simply using `.replace(/&amp;/g, '&');` is the cleaner approach here.

[2020-01-06 10:35] tcitworld opened #1758 "Add CONFERENCE property to events linked to Talk rooms"
_Originally posted by @georgehrke in https://github.com/nextcloud/calendar/pull/1732#issuecomment-566555305_

[2020-01-06 10:36] tcitworld opened #1759 "Use InitialState API"
_Originally posted by @rullzer in https://github.com/nextcloud/calendar/pull/1732_

[2020-01-07 08:56] ChristophWurst commented on #1735
Looks like this is the same issue with the app tokens header in your personal settings. The `&` is escaped there as well. Couldn't figure out why, though.

[2020-01-07 09:18] georgehrke commented on #1735
Fix is in https://github.com/nextcloud/calendar/pull/1760

[2020-01-07 09:19] georgehrke commented on #1736
Ok, let's go for `10:00`

[2020-01-07 09:26] ChristophWurst commented on #1735
Fix or workaround? :see_no_evil:

[2020-01-07 09:26] ChristophWurst commented on #1735
What happens to umlauts and other HTML-escaped characters?

[2020-01-07 09:29] georgehrke commented on #1735
Only the ampersand is causing problems:
![06B1BCC3-B8A7-4FAE-BF3A-96013E7315EB](https://user-images.githubusercontent.com/1250540/71884397-8f47d300-3138-11ea-96ed-d2ec9d423746.png)

ref https://github.com/nextcloud/server/blob/master/core/src/OC/l10n.js#L125

[2020-01-07 09:31] georgehrke commented on #1735
I'm not exactly sure why we call `DOMPurify.sanitize` there anyway.
We already escape all the variables above: https://github.com/nextcloud/server/blob/master/core/src/OC/l10n.js#L100L113

[2020-01-07 09:56] ChristophWurst commented on #1735
Me neither. And this is a regression. Any clue where this is coming from? Did we add the escaping recently? The `&` in the app password settings used to work.

[2020-01-07 10:01] georgehrke commented on #1735
The `DOMPurify` itself has been there for years now: https://github.com/nextcloud/server/commit/6c8d48b0f6faac5d5b832a70d0245941a912f78b#diff-45c3b58acdf48f696d3ffe092e58e33cR176

[2020-01-07 10:08] georgehrke commented on #1735
But that's related to your vue-refactoring? Isn't it?

`translate` returns `Devices &amp; session`, and since you are using it inside curly breakets, vue is escaping the `&amp;` to `&amp;amp;`
https://github.com/nextcloud/server/commit/4b72475#diff-f57c51aacf630692a4a5d90e51cf3f11R24

Before it was just PHP:
https://github.com/nextcloud/server/commit/4b72475#diff-060894acdc1f2f2a9f681015e65b9f51L9

[2020-01-07 10:10] ChristophWurst commented on #1735
I don't have a 16 instance at hand but I don't think it was broken when I switched to Vue.

[2020-01-07 10:13] georgehrke commented on #1735
My only other guess would be that we most likely had a heavily outdated `DOMPurify` and it broke, when we added it to our `package.json` and updated it to a new version.

[2020-01-07 10:58] rullzer commented on #1735
Yes it was some weird dompurify stuff I remember.

[2020-01-07 12:17] georgehrke commented on #1736
TIL: FullCalendar 4 is using `Intl.DateTimeFormat`

[2020-01-07 16:14] raimund-schluessler commented on #1735
There is an issue in server for this as well https://github.com/nextcloud/server/issues/18662

[2020-01-07 17:50] ChristophWurst commented on #1735
So basically @rullzer fixed this with https://github.com/nextcloud/server/pull/17254 but it broke again. Thanks for the ref, @raimund-schluessler.

[2020-01-07 18:14] ChristophWurst commented on #1735
Can't find where or why that behavior changed in dompurify. Temporarily reverted to v1 and that solves the issue in settings, hence it must be a change in the lib.

[2020-01-07 18:48] ChristophWurst commented on #1735
Submitted upstream because it could also be a regression https://github.com/cure53/DOMPurify/issues/379

[2020-01-08 13:53] FoEE opened #1762 "Problem with calendar invitation functionality"
### Steps to reproduce
1. User A is creating an event in his/her calendar and inviting B user. An event is added in A and B calendars.
2. User B is receiving an email with "Accept" and "Decline" buttons.
3. User B is clicking on "Decline" button. Nextcloud webpage is opening with a message "Your attendance was updated successfully".

### Expected behaviour
Event in user B calendar should be greyed

[2020-01-08 13:58] georgehrke commented on #1762
I feel like this is a duplicate, but i can't find the original issue at the moment.

To break down the problem: Using the online response UI doesn't update your own event (as the attendee), but only the organisers event.

Moving to server, since this is the wrong place.

[2020-01-08 15:49] georgehrke commented on #1736
I'm currently unable to fix this due to what i believe to be an upstream issue: https://github.com/fullcalendar/fullcalendar/issues/5213

Postponing this issue to 2.0.1

[2020-01-08 23:41] dacoex opened #1763 "Change single event out of a series"
**Is your feature request related to a problem? Please describe.**
Make it possible to change a single / individual event of a series of recurring events.

**Describe the solution you'd like**
Example:
a meeting happens every 1rst Monday of a month.
one first Monday falls on a holiday and thus should be shifted to a the following Tuesday for 1 meeting.

**Describe alternatives you've considered**

[2020-01-08 23:43] dacoex opened #1764 "Smart recurring events via webinterface"
**Is your feature request related to a problem? Please describe.**
Recurring event series are based on the number of the day of the month.
E.g. every day 5 of each month.

**Describe the solution you'd like**
User should be able to specify:
Each second Wednesday of a month...

**Describe alternatives you've considered**
Entering such series via client apps, e.g. Thunderbird, works.

**Additional c

[2020-01-09 08:55] georgehrke commented on #1763
Duplicate of #7

[2020-01-09 08:55] #1763 closed

[2020-01-09 08:56] georgehrke commented on #1764
Duplicate of #10

[2020-01-09 08:56] #1764 closed

[2020-01-09 09:13] georgehrke commented on #1692
This was actually fixed along with https://github.com/nextcloud/calendar/issues/678 in an earlier beta of Calendar 2.

[2020-01-09 09:13] #1692 closed

[2020-01-09 09:34] georgehrke commented on #1750
@twinkybot So if you are talking about Nextcloud in a  subdir documentation, it's actually `https://example.com/nextcloud/index.php/apps/calendar/`, not `https://example.com/index.php/apps/calendar/`? :)

[2020-01-09 09:39] georgehrke commented on #1505
Duplicate of https://github.com/nextcloud/server/issues/18750

[2020-01-09 09:39] #1505 closed

[2020-01-09 12:41] georgehrke commented on #402
@ahmedmohiduet If you have any further questions or need any assistance, please don't hesitate to ask :)

[2020-01-09 14:05] cboonet opened #1766 ""busy" event is not translated in public access"
### Steps to reproduce
1. Create an event with option "when shared show only busy"
2. Share the calendar (tick public access)
3. go to to the shared link of the public calendar with a no english web browser

### Expected behaviour
If your web browser is for example in french (but in a language other than English, it's the same problem), the event should display "occupé" (busy in french)

### Actua

[2020-01-09 14:37] #1735 closed

[2020-01-10 01:55] pm-pm commented on #1692
Earlier beta of Calendar 2 ???
I don´t have Calendar 2 and don´t know what it is.

For me (and my/our Software) it is not solved.
Could you please answer when it will be solved IN THIS software?

Within NC 17.0.?
or
Within NC 18?
or
In 4 Weeks?
or
Never?

*It is ok, if you will never fix it, but please give us an answer i can work with*

[2020-01-10 08:20] georgehrke commented on #1692
Version 2.0 of this calendar app. See https://github.com/nextcloud/calendar/releases and https://github.com/nextcloud/calendar/milestones

[2020-01-10 09:01] ahmedmohiduet commented on #402
Dear Georg, I am exploring nexcloud-calendar codebase at the moment. Check out  https://trello.com/b/nqa1HOhF/nextcloud-calendar-ui . I have lots of `No OC found` warnings with my fresh nexcloud-calendar checkout during jest tests (`npm test`)(without phpunit tests). Any ideas what these `No OC found` warnings might mean?

[2020-01-10 09:30] georgehrke commented on #402
If you are referring to this:
[code]

You can safely ignore that for now. It's just giving a warning that it's not running inside an actual Nextcloud environment but using some fallbacks instead for now.

What's important is that you don't have any failed tests:
[code]

[2020-01-10 10:14] ahmedmohiduet commented on #402
got it. Can I ignore failing php tests? I have a couple of failing phpunit tests regarding email server

[2020-01-10 11:01] georgehrke commented on #851
By migrating to our Nextcloud-vue framework for most of the UI, all non-calendar-grid items should properly respond to touch input now.

Everything calendar-grid related is mostly upstream related: https://github.com/fullcalendar/fullcalendar/issues?q=is%3Aissue+is%3Aopen+Touch+label%3ATouch

There are big improvements in Calendar 2 already, because we migrated to FullCalendar 4.0

Keeping this is

[2020-01-10 11:23] georgehrke commented on #1717
Closing as Duplicate of https://github.com/nextcloud/nextcloud-vue/issues/801

[2020-01-10 11:23] #1717 closed

[2020-01-10 15:14] Popyllol opened #1787 "Change the default user setting of skipPopover via global config (occ) for all users"
**Is your feature request related to a problem? Please describe.**
The problem is that we have a lot of people which are not expirienced enough in mouse usage to make a calendar entry with the popover editor (alias simple event editor), so they often take time to create an event and then click a little bit beside the window and get frustrated when they lose their entry completely.
To set the defau

[2020-01-10 15:23] georgehrke commented on #1787
@Popyllol Feel free to send a pull-request for this.

https://github.com/nextcloud/calendar/blob/master/lib/Controller/ViewController.php#L88

[2020-01-10 15:26] Popyllol commented on #1787
Thank you, but this will went away when I upgrade. So... make it a config option would be great.

[2020-01-10 15:31] Popyllol commented on #1787
Perfect! So it will be the default for further versions? Right?

[2020-01-10 15:43] georgehrke commented on #1787
If you or someone else implements it :)

[2020-01-10 20:37] georgehrke opened #1788 "Take new screenshots"

[2020-01-10 20:39] georgehrke opened #1789 "Update Readme and info.xml"
- Describe new features
- add new screenshots #1788
- update authors

[2020-01-10 20:41] georgehrke commented on #496
Related: #1765

[2020-01-10 20:42] georgehrke commented on #402
Since you didn't change them(?), you can ignore that. But I'm wondering why they are failing for you. They are running just fine on CI. Can you post the error message? :)

[2020-01-10 21:50] ChadOhman opened #1790 "Uncaught (in promise) Error: Creating a calendar failed at app.js:5483"
### Steps to reproduce
1. Installed Nextcloud Docker container in Cloudron
2. Install and enable Calendar
3. Try to create a new calendar

### Expected behaviour
New calendar should be created

### Actual behaviour
This error in the console: 'Uncaught (in promise) Error: Creating a calendar failed at app.js:5483'
`/remote.php/dav/calendars/chad/appointments/:1 Failed to load resource: the server r

[2020-01-11 00:44] kbeerepoot commented on #402
@ahmedmohiduet I saw the screenshot of the list view you provided at https://www.dropbox.com/s/8m7l8q3tbn5kwl7/nextcloud-calendar-dev.png?dl=0

It looks great , but I noticed you provided the four fields you used horizontally on one line. I could also very well live with a view where these fields are provided vertically below each other (or at least the location and description field respectively

[2020-01-12 06:47] ahmedmohiduet commented on #402
@kbeerepoot Its actually showing first line of description. Incase very long first line, it still may pose problems. Good idea with vertical location+description. we have a couple of options lying ahead of us, (i) Leave horizontal location+description and have vertical location,description (ii) Have horizontal location+description with limited numbers of characters truncating long first line+follo

[2020-01-12 07:59] ahmedmohiduet commented on #402
My output for my command `phpunit --bootstrap tests/php/unit/bootstrap.php tests/php/unit/` looks like:

[code]
I'm looking into at the moment find which php files I have misplaced accidentally inside nextcloud root dir.

Btw,  do you have a mock nextcloud server setup inside nextcloud-calendar that dynamically starts during test start and terminates upon finishing all tests? It would save a whole

[2020-01-12 13:12] georgehrke commented on #402
The error message you are seeing looks like some composer packages are missing. It should work if you run `make composer-init`.

[2020-01-12 13:14] georgehrke commented on #1790
Please provide the Nextcloud.log as expected. If it is indeed empty, which is very unlikely, please decrease the log level and trigger the error again. Thx.

Whenever you receive a 500 from the server, there should be a corresponding error message in the Nextcloud.log

[2020-01-12 20:24] bfritscher commented on #28
I started looking into how difficult it is to implement this, to start learning the codebase a first basic version is on PR #1798

![image](https://user-images.githubusercontent.com/338973/72225109-db07db80-3581-11ea-982d-d2669dea9526.png)

[2020-01-13 01:46] #1790 closed

[2020-01-13 08:56] georgehrke commented on #238
@tcitworld Move to 2.0.1?

[2020-01-13 10:03] georgehrke commented on #1736
Upstream is considering it a feature request, not a bug. In that case we will have to create a formattingPlugin and extend https://github.com/fullcalendar/fullcalendar/blob/44c16bb687c911318306f1c1d0e05bfb186cc9a7/packages/core/src/datelib/formatting-native.ts to implement it ourselves.

[2020-01-13 13:52] tcitworld opened #1801 "Detect time user input in datepicker when All-Day is enabled"
Good point, but i would like to address that later on.

_Originally posted by @georgehrke in https://github.com/nextcloud/calendar/pull/1761#issuecomment-573652977_

[2020-01-13 14:25] georgehrke commented on #39
https://github.com/nextcloud/calendar/pull/1731 brings a first implementation and was just merged. As said earlier, let's keep this open to track further improvements.

[2020-01-13 23:51] earliestearl opened #1802 "Unable to share calendar"
### Steps to reproduce
1. Create random calendar in web gui
2. Import some events
3. Try to share the calendar with another user

### Expected behaviour
When typing the user's name, auto-completition helps to find the user. When user name is completely entered, a window opens and a click on the remote user's name should activate calendar sharing.

### Actual behaviour
No users to share can be foun

[2020-01-13 23:55] earliestearl commented on #1802
After inspecting the network console, I maybe have an addition, but no solution. On the HTTP GET request to `https://domain.com/cloud/ocs/v1.php/apps/files_sharing/api/v1/sharees?format=json&search=L&perPage=200&itemType=principals` I see an error 998: _Invalid query, please check the syntax. API specifications are here: http://www.freedesktop.org/wiki/Specifications/open-collaboration-services._

[2020-01-14 08:18] tcitworld commented on #1802
Please double check that the `File sharing` app is enabled? Also inspect and post contents of `nextcloud.log`, an exception may be logged.

You may also inspect sharing settings in `/settings/admin/sharing`.

[2020-01-14 09:40] earliestearl commented on #1802
Thank you for your reply.

* File sharing is activated (checked in the admin panel: "Allow using Share-API")
* /data/nextcloud.log is empty

I found this error message in the error log (via admin panel):
[code]

[2020-01-14 10:06] georgehrke commented on #1750
On the blank page, can you please open the javascript console and check what `OC.generateUrl('apps/calendar')` returns? Thanks!

[2020-01-14 10:08] earliestearl commented on #1802
I resolved the issue. Importing some tables from my old nextcloud instance manually messed up the database as these tables were encoding using `utf8_bin` instead of `utf8mb4_bin`. I changed the collation manually in my database (using phpmyadmin). Now it is working again.

### Background
__What I learned now. In case somebody runs into similiar problems:__
The MySQL collation `utf8` seems not to u

[2020-01-14 10:08] #1802 closed

[2020-01-14 11:01] georgehrke opened #1804 "Today in agendaWeek and agendaDay"
We don't use the default full-calendar style for styling today, because the yellow color caused too many issues for too many users on different settings of screens.

For month we just put a circle around the day, which works just fine:
![0C286F05-3B47-4197-A621-89B451648FDD](https://user-images.githubusercontent.com/1250540/72338410-b49e8900-36c4-11ea-93c8-0be69885eb76.png)

In agendaWeek, we curr

[2020-01-14 12:24] jancborchardt commented on #1804
How about this:
![today indicator](https://user-images.githubusercontent.com/925062/72344287-2977c000-36d1-11ea-9abe-efe1b2ecc6ba.png)

It’s on the a inside the th:
[code]

Same can be used for the day view, as discussed @georgehrke :)

[2020-01-14 12:42] georgehrke commented on #1804
@jancborchardt Pull-request in https://github.com/nextcloud/calendar/pull/1805

[2020-01-14 15:50] georgehrke commented on #1582
Opened PR in server: https://github.com/nextcloud/server/pull/18895

[2020-01-14 15:51] #1582 closed

[2020-01-14 17:41] kbeerepoot commented on #402
@ahmedmohiduet Option (i) could be a good idea, provided the various lines of output would wrap if they run of the provided screen width. That wrapping would not be necessary on most monitors, but would come in handy when shown on a narrow screen width (mobile phones)

Option (iii), if implementable, might be a good idea although it would complicate things somewhat and I prefer to keep things simp

[2020-01-14 18:52] georgehrke commented on #1197
#1755 was merged, so this will be included in the upcoming 2.0 version.

[2020-01-14 18:52] #1197 closed

[2020-01-14 19:13] georgehrke commented on #402
@ahmedmohiduet Feel free to open a pull-request, so we can discuss your changes :)

[2020-01-15 03:59] ahmedmohiduet commented on #402
@kbeerepoot  Let me come up with a more improved Option(i). I am at the moment working on merging new Fullcalendar ListView into nextcloud-calendar plugin.

[2020-01-15 08:31] #1804 closed

[2020-01-15 09:11] georgehrke opened #1814 "Update links to documentation"
https://docs.nextcloud.com/server/latest/user_manual/pim/calendar.html is fairly outdated

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87012506-update-documentation?utm_campaign=plugin&utm_content=tracker%2F45525646&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_camp

[2020-01-15 09:30] tcitworld opened #1815 "Remove scrollbars in Firefox"
Firefox adds horizontal and vertical scrollbars due to

[code]

https://github.com/nextcloud/calendar/pull/1809#issuecomment-574569018

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87013830-remove-scrollbars-in-firefox?utm_campaign=plugin&utm_content=tracker%2F45525646&utm_medium=issues&utm_source=github)** We accept bounties via

[2020-01-15 09:32] tcitworld commented on #1814
I had started https://github.com/nextcloud/documentation/commit/c078374ac001ca8d0ff7e56f32ba90c9c1962f8f a while ago.

[2020-01-15 09:45] #1789 closed

[2020-01-15 09:46] #1144 closed

[2020-01-15 09:46] #1621 closed

[2020-01-15 09:46] #1756 closed

[2020-01-15 09:50] georgehrke commented on #1815
tl;dr:
- full-calendar is using a mix of `border-box` and `content-box`:
![3FD944A5-F77A-44BE-91A4-0CC45CABC7B6](https://user-images.githubusercontent.com/1250540/72423311-55a04900-3784-11ea-801b-838db3465423.png)
- the server is setting it to `border-box`:
[code]
That breaks plenty of things including positioning of events
- We override the server css for fullcalendar and set it to content box:
[

[2020-01-15 09:53] georgehrke commented on #1815
Possible solution: https://caniuse.com/#feat=css-all

[2020-01-15 10:07] georgehrke commented on #1750
@tcitworld Have you been able to reproduce this?

[2020-01-15 10:07] tcitworld commented on #1750
I didn't try yet.

[2020-01-15 10:13] CoudCoud commented on #708
@georgehrke Thank you, I'm a volunteer in an association which needed this feature to display many calendars on its website. I'm using the stable version (1.7.2), and I'll wait the 2.0 to be published in Nextcloud Apps. That will really be useful for us.

[2020-01-15 10:26] georgehrke commented on #1750
@twinkybot Can you please add `'htaccess.RewriteBase' => '/',` to your config.php? It seems missing.

[2020-01-15 10:41] georgehrke commented on #1750
yes, can you just add `'htaccess.RewriteBase' => '/',` after `'updater.secret' => 'blabla'`?

[2020-01-15 11:11] tcitworld commented on #708
You should still encounter https://github.com/nextcloud/calendar/issues/169, even if https://help.nextcloud.com/t/solved-nextcloud-16-how-to-allow-iframe-usage/52278/4 may help

[2020-01-15 11:47] #1787 closed

[2020-01-15 15:02] georgehrke commented on #1750
There are a few spots where your NGINX config differs from the recommend ones:
1. You have
[code]

Although it's already forwarded to PHP down there:
[code]

2. Different PATH_INFO config in:
[code]

You don't set:
[code]

And you set this differently:
[code]

Why did you change that or can you adjust your configuration to the documented one?

[2020-01-15 15:47] #1750 closed

[2020-01-15 15:48] georgehrke commented on #1750
Cool. I'm glad it's solved.

I think because of that NGINX config error, NGINX was always forwarding to the pages without `index.php`, but Nextcloud was expecting `index.php` in the URL. And `OC.generateUrl('apps/calendar')` returned a base that the router could not resolve.

[2020-01-15 19:53] markuswochnik opened #1818 "New event popover stays always left"
### Steps to reproduce
1. Set calendar view to daily or weekly
2. Add new appointment
3. Appointment will open at chosen field, but the menu always left aligned.

![event-menu-centered](https://user-images.githubusercontent.com/7039362/72466305-eef94a80-37d8-11ea-9ad4-97b7acc3b9b0.png)

### Calendar app
**Calendar app version:** 2.0.0 RC1
### Client configuration
**Browser:** Firefox 72.0.1
**Oper

[2020-01-15 20:52] corvus-albus opened #1819 "Self added category difficult to remove"
### Steps to reproduce
1. Add a new or edit an existing event and type a word in the category field, that is not part of the predefined set. The category will appear in the field.
2. If you reopen the event there is no possibility to remove this category. If you click at it, the predefined list will open. The new word is not added and you can't remove it by clicking at the word as you can do it wi

[2020-01-15 21:08] georgehrke commented on #1819
You can just use the delete button to remove the category, but I agree that the category should also be visible in the list so you can just unselect it.

I can't reproduce that when switching from english to german. Can you please try again and tell me what language you switched from and to?

[2020-01-16 07:52] georgehrke opened #1820 "More events popover not styled"
![EF76BBCC-F75D-4CA2-9236-90ED405A4789-2](https://user-images.githubusercontent.com/1250540/72504104-77a9d200-383d-11ea-9590-d3e2f1fc296a.jpg)

[2020-01-16 12:50] GambaJo opened #1824 "[Feature Request] Change or delete only one appointment of a reccuring appointment"
If I have a series of appointments (reccuring appointment) it could happen, that only one of this appointments must be changed or deleted, and not the whole series.

Example;
Every week I have a meeting at the same day and time. But sometimes one of this meeting must be moved or canceld. Now this is not possible. I can't move on of this appointments, and if I try to delete it an create the modifie

[2020-01-16 12:54] GambaJo opened #1825 "[Feature Request] More options for reccuring appointment (like every last thursday of the month)"
I have appointments that should reccur for example ever last thursday of the month. Doesn't matter, what date this is.
I think this could be a good feature.

[2020-01-16 14:13] georgehrke commented on #1824
Duplicate of #7

[2020-01-16 14:13] #1824 closed

[2020-01-16 14:14] georgehrke commented on #1825
Duplicate of #10

[2020-01-16 14:14] #1825 closed

[2020-01-16 14:14] georgehrke commented on #1825
Duplicate of #10

[2020-01-16 15:37] georgehrke opened #1827 "List of categories not sorted alphabetically"

[2020-01-16 16:23] corvus-albus commented on #1819
I searched for a "delete button", I can't see one. Do you mean the backspace key? In effect I realized, that you can delete the categories with the backspace key. The problem is: you don't see, which category you delete, because they are no longer displayed, when you click the edit-filed.
Perhaps it is a good idea to leave the already choosen categories in the edit filed, than you can remove via b

[2020-01-16 18:39] daknuett opened #1828 "Bug in saving a meeting when no email address is suppiied"
**Steps to reproduce**:

1. Use a calendar app (I use [Evolution](https://en.wikipedia.org/wiki/GNOME_Evolution))
2. Create a new [meeting]( https://help.gnome.org/users/evolution/stable/calendar-meetings-sending-invitation.html.en) and add a person to invite **without an email address**
3. Click on _save_

**Expected behaviour**:

The meeting gets saved.

**Actual behaviour**:

The server respond

[2020-01-16 18:40] georgehrke commented on #1828
Please read the instructions in the issue template more careful next time. Everything CalDAV related belongs in the server!

[2020-01-17 05:48] bold-gman commented on #747
Since 2020 is a leap year, I remembered this issue exists. Any idea if and when this will be solved?

[2020-01-17 08:34] georgehrke commented on #747
As i said, this requires RFC7529 support in a library that we use. So no ETA from my side.

[2020-01-17 09:18] #1788 closed

[2020-01-17 12:22] Elfearo opened #1830 "Recurring Appointment - Changing a time doesnt work across Platforms"
Hi there,

i am currently setting up and testing a nextcloud platform for calendars mostly. When testing around i found out about a problem that might be because of nextcloud, or just the way calendar tools handle appointments:

Here´s the problem:

When making a recurring appointment its gets perfectly synced via all platforms (mac calendar, iphone, thunderbird). Deleting a single appointment or

[2020-01-17 12:57] georgehrke commented on #1830
So If I understand you correctly, this is not a bug report about the Nextcloud web calendar creating events that iOS / macOS or Thunderbird don't understand, but the problem is that iOS/macOS don't  understand the events created by Thunderbird?

[2020-01-17 13:05] Elfearo commented on #1830
Hello,

yes i am not quite sure where the problem occours. It might be thunderbird not making the events right, nextcloud not storing them right, or apple not refreshing them right.

The deletion for example works fine. If i find time next week i will try to check with another calendar tool to maybe get a bit closer to where the problem is related.

[2020-01-17 13:08] georgehrke commented on #1830
In that case I would like to ask you to take your question to http://help.nextcloud.com/c/apps/calendar. Feel free to mention me over there, i have the same username as here. The bug tracker is only for things that we are sure about that they are bugs in our software, not general support requests.

I would be very interesting to see the actual events that you are syncing, the ics files.
Maybe ther

[2020-01-17 13:08] #1830 closed

[2020-01-17 14:08] nursoda commented on #486
Calender 2.0 is awesome, thanks. Tiny glitch: There should be a "space character" between the name and the string "(Organisator)", like " (Organisator)". Not sure if that's a german localization issue only.

[2020-01-17 14:32] FredericLespez commented on #1752
As far I can see, this bug is fixed is Calendar 2.0.0.

[2020-01-17 17:20] t2d opened #1831 "App forwards to wrong route"
### Steps to reproduce
After upgrade nextcloud 17.0.2 to 18.0.0, users who have been using the calendar before can't see it anymore in the WebUI

### Expected behaviour
Clicking on app icon should forward to `apps/calendar/dayGridMonth/now`

### Actual behaviour
Clicking on app icon forwards to `apps/calendar/month/now`

### Calendar app
**Calendar app version:** 2.0.0

### Client configuration
**

[2020-01-17 17:23] georgehrke commented on #1831
@t2d Did you experience any issues update issues?
There is a repair step that's supposed to fix it during an update: https://github.com/nextcloud/calendar/blob/master/lib/RepairSteps/CurrentViewNameRepairStep.php#L67

[2020-01-17 17:25] georgehrke commented on #1831
In case it was not executed during the update for whatever reason, you can always execute `occ maintenance:repair`

[2020-01-17 17:30] t2d commented on #1831
Thank you for the prompt feedback! This did the trick.

[code]

Maybe it wasn't executed because calendars where disabled during update? There was no obvious problems to me.

[2020-01-17 17:30] #1831 closed

[2020-01-17 17:37] georgehrke commented on #1831
That might be the problem. We should one that repairStep also when enabling the calendar.

[2020-01-17 17:41] #1752 closed

[2020-01-17 18:06] georgehrke commented on #1831
I added a fix in https://github.com/nextcloud/calendar/pull/1832

Depending on how many reports we get about this, this will either end up in the regular 2.0.1 update  in a couple of weeks or there will be an intermediate update.

[2020-01-17 21:45] mundschenk-at opened #1833 "Calendar 2.0.0 broken on Nextcloud 17.0.0.1 (missing files)"
### Steps to reproduce
1. Update Calendar app to 2.0.0
2. Reload Calendar view

### Expected behaviour
The calendar should be displayed.

### Actual behaviour
Some broken templates and endlessly spinning wheels (even with forced reload of all assets).

### Calendar app
**Calendar app version:** 2.0.0

**CalDAV-clients used:** Web interface

### Client configuration
**Browser:** Safari 13.0.4

**Op

[2020-01-17 21:48] mundschenk-at commented on #1833
It looks like the opcache was not reset by the updater.

[2020-01-17 21:48] #1833 closed

[2020-01-17 22:06] szaimen opened #1834 "V-Popover slowing down editor in Chromium-based browsers"
There are a few performance problems with the new Nextcloud 17 release 2.0.0.

Very slow is especially:
- closing the main event editor (this is okay with firefox but very slow with chromium based browser)
- while having an event open in the main event editor, clicking on or creating another event (the simple editor is disabled)
- creating new events doesn't seem to be very fast as well (especiall

[2020-01-18 00:23] szaimen opened #1835 "Defining a default calendar"
## Feature Request

As a Calendar user I have more than one calendar. When another users invites me to an event, it is not clear to which calendar the event is copied.

It would be really nice if I could define a default calendar for creating new events, since I am using most of the time a calendar, which is since the 2.0.0 release no longer on top. So as long as you cannot change the list order,

[2020-01-18 00:25] szaimen commented on #1834
@georgehrke I edited the issue. If you need more infos, please tell!
Thanks!

[2020-01-18 01:47] sich97 opened #1836 "Scroll wheel support when choosing time"
Version 2.0 now makes it so you choose time of day by using a vertical slider to scroll though both hours and minutes. However, I'm not able to use the scroll wheel on my mouse to do this. Support for this should be implemented.
![Screenshot_20200118_024616](https://user-images.githubusercontent.com/7852398/72656608-c457ef00-399c-11ea-83fa-0e7537843508.png)

[2020-01-18 06:34] karan opened #1837 "Calendar-picker not visible"
### Steps to reproduce
1. Install 2.0
2. Create 2 calendars
3. Try to create an event

### Expected behaviour
I should be able to choose which calendar the event belongs to

### Actual behaviour
I can't!

![image](https://user-images.githubusercontent.com/3261985/72659728-1ab33680-3979-11ea-9184-5784265848dd.png)

### Calendar app
**Calendar app version:** (see apps admin page, e.g. 2.0.1)
2.0.0

[2020-01-18 06:53] georgehrke commented on #1836
Moving to Nextcloud-vue

[2020-01-18 06:53] georgehrke commented on #1837
Works just fine for me.
Please provide a screenshot of the entire calendar and provide javascript logs as requested. Thx

[2020-01-18 06:55] georgehrke commented on #1834
Overall it should be much snappier and faster than Calendar 1.
I fear this particular issue is related to V-Popover. Will look into it.

[2020-01-18 07:03] georgehrke commented on #1837
Ah, I'm just seeing that you are using Brave. I will test that later, but please not that Brave is generally not considered a supported browser: https://github.com/nextcloud/calendar#earth_africa-supported-browsers

[2020-01-18 09:45] Merk-Z-Tel opened #1838 "Since version 2.0.0 I can't import a *.ics file"
When I change back (by copying an old apps-folder) to 3.x it works.

[2020-01-18 11:20] #1838 closed

[2020-01-18 11:21] georgehrke commented on #1838
@Merk-Z-Tel Please open a new issue __using the issue template__.
We need all the information requested there.

[2020-01-18 11:23] schiessle opened #1839 "Calendar - Talk improvements ideas/suggestions"
I really like the calendar/talk integration, great work!

I just had some ideas while testing it which I want to share:

1. It would be great if the lobby would be enabled on the talk room by default with the start date from the calendar entry. Of course we would need to make sure that the lobby gets updated when the calendar appointment gets modified.

2. The calendar entry already has a icon ind

[2020-01-18 13:30] raoulbhatia opened #1840 "Allow configuration (or change default) of slotDuration in v2.0.0+ to 30m"
I just upgraded to Calendar v2.0.0 and the calendar is now consuming much more space on the screen.  Upon digging into the source code, I found slotDuration is set to 15m, see https://github.com/nextcloud/calendar/blob/master/src/views/Calendar.vue#L177

Any chance to make this configurable?  I think the old default was 30m that yielded in a much better overview.

Thanks,
Raoul

[2020-01-18 13:52] georgehrke commented on #1840
Duplicate of https://github.com/nextcloud/calendar/issues/577

[2020-01-18 13:52] #1840 closed

[2020-01-18 15:31] MightyCreak opened #1841 "Issue resolving alias of timezone"
### Steps to reproduce
1. Update to Calendar 2.0.0
2. Only the left panel appears (see screenshot below)

![image](https://user-images.githubusercontent.com/6382548/72665913-0011a980-39db-11ea-87de-af79498c2ded.png)

### Expected behaviour
The calendar (right panel) show appear

### Actual behaviour
The calendar (right panel) is all blank

### Calendar app
**Calendar app version:** 2.0.0

**CalDAV

[2020-01-18 16:02] georgehrke commented on #1841
@MightyCreak The javascript log should not only contain error message, but also some debug / info / warning messages. Can you please post those as well?

It seems there is an issue with the timezone you are in.

Please provide us with the full logs first. As workaround, you can select a different timezone in the lower left settings area.

[2020-01-18 16:12] Perflyst opened #1842 "View iCal URL from subscribed calendar"
**Is your feature request related to a problem? Please describe.**
With the old calendar version I could view the ical link from a subscribed calendar. This was very handy in case you did not know from where exactly the calendar is from

**Describe the solution you'd like**
Add a button to display the ical link

**Describe alternatives you've considered**
none

**Additional context**
Add any other

[2020-01-18 16:14] MightyCreak commented on #1841
Thank you for the quick answer!

The "Verbose" log level was unchecked, as well as the XHR logs. I've enabled everything and modified the original post.

[2020-01-18 16:15] georgehrke commented on #1842
Indeed a good point. We should add a "Copy subscription URL" action to the three dot menu.

[2020-01-18 16:19] georgehrke commented on #1841
Exactly the important piece of information was truncated by the browser. :/

In the console, it says:
`Initial settings: {appVersion: "2.0.0", firstRun: false, showWeekends: true, showWeekNumbers: false, skipPopover: false, …}`
On the left side of that message, there should be a tiny triangle. Can you click that and post the entire contents of that object?

Thanks a lot.

[2020-01-18 16:25] Perflyst opened #1843 "New iCal subscriptions not working"
### Steps to reproduce
1. Add a new iCal calendar

### Expected behaviour
Events in calendar should be displayed

### Actual behaviour
Nothing is displayed

### Calendar app
**Calendar app version:** (see apps admin page, e.g. 2.0.1)

**CalDAV-clients used:** (Thunderbird Lightning, DAVx5, Evolution, macOS Calendar, etc)

### Client configuration
**Browser:** Firefox 72.0.1

**Operating system:**

[2020-01-18 16:29] georgehrke commented on #1843
We changed the way subscriptions work in version 2. Subscriptions are not fetched by the browser anymore, but they are fetched in a cron-job on the server and cached.

You should hence make sure to properly configure the cron-job in the Nextcloud admin settings. They should appear after some while. What is missing at the moment is that the server does not immediately cache it on creation, but only

[2020-01-18 16:30] MightyCreak commented on #1841
Here you go:

[code]

[2020-01-18 16:32] georgehrke commented on #1841
Ah, `America/Montreal` should alias to `America/Toronto`. It seems there is an issue with resolving the alias. Will look into that.

As a workaround, you should be able to change the timezone in the lower left settings area to Toronto.

[2020-01-18 16:35] georgehrke commented on #1841
I was able to reproduce it with `America/Montreal` on my local machine.
Setting the timezone to Toronto and reloading the page fixed it.

[2020-01-18 16:36] Perflyst commented on #1843
looks like i did not wait long enough ;) could not find the issue, we should link it here before closing this issue

[2020-01-18 16:38] MightyCreak commented on #1841
Changed it to Automatic (America/Toronto) and it works like a charm now! Thank you so much!

Also, I pasted the logs from Firefox since they are much better formatted than the Brave ones.

[2020-01-18 16:48] tcitworld commented on #1839
This is https://github.com/nextcloud/calendar/issues/1758

[2020-01-18 16:50] karan commented on #1837
Thanks for that. I can live with that (but if you do end up repro'ing, I have all my shields/adblocker disabled).

All I see in the js console is:

[code]

No errors.

[2020-01-18 16:51] ongun-kanat opened #1844 "FullCalendar locales limited, lang / locale mixup in fullcalendar, implement custom Fc Intl backend"
I use English (Ireland) locale for my user in my Nextcloud. The display language is English US However, the new calendar app shows Sunday as the first day of the week which is wrong for English Ireland.

### Steps to reproduce
1. Set locale English (Ireland) in user settings
2. Open calendar app

### Expected behaviour
The first day of the week is Sunday

### Actual behaviour
The first day of the

[2020-01-18 17:32] georgehrke commented on #1844
Indeed it seems to be unable to resolve en_ie and falls back to english us.

[2020-01-18 17:36] georgehrke commented on #1844
It's actually loading the correct chunk:
[code]

Will need some debugging.

[2020-01-18 17:38] georgehrke commented on #1844
The problem is that fullcalendar itself does not have a locale for ireland:
https://github.com/fullcalendar/fullcalendar/tree/master/packages/core/src/locales

We should try to build the locale ourselves based on the information we get from moment in that case.

[2020-01-18 19:09] raoulbhatia commented on #1840
@georgehrke thanks for pointing out #1747

How do you think about restoring the old default of slotDuration of 30m?  I'd assume that, apart from people like @AlexandreBonneau, others might find the change of defaults irritating like me?

[2020-01-18 23:40] livier opened #1845 "no more calendars seen since v2"
### Steps to reproduce
open calendar app

### Expected behaviour
show my calendar content

### Actual behaviour
show only a list of my calendars, on left panel, mixed my ones calendars ans my subscription
But the central big panel does not show content (my calendars activated) and is keeping white.

## Server configuration detail

**Operating system:** Linux 4.15.18-15-pve #1 SMP PVE 4.15.18-40 (T

[2020-01-18 23:44] tcitworld commented on #1845
Please provide browser and Nextcloud logs as requested…

[2020-01-19 00:16] gnilebein opened #1846 "Calender Abonement not working"
### Steps to reproduce
1. Add new Abo of Calendar URL http://heusenstamm.mein-abfallkalender.de/ical.ics?sid=24360&cd=attachment&ft=6&fp=next_1000&wids=626,624,625,627,623,629,628&uid=110061&pwid=552dad48ff&cid=91&fn=Mein-Abfallkalender_Stadt_Heusenstamm_Zuk%FCnftige_Termine.ics
2. Same behaviour with existing calendar abonement

### Expected behaviour
Calendar app should show events

### Actual b

[2020-01-19 00:18] gnilebein commented on #1846
The import of the file works without problems.

[2020-01-19 06:14] AlexandreBonneau commented on #1840
Note from people like me ; if the default `slotDuration` would be configurable, we couldn't care less about the default value on a fresh installation ;)

[2020-01-19 08:28] georgehrke commented on #1846
Duplicate of #1843

[2020-01-19 08:28] #1846 closed

[2020-01-19 08:34] gnilebein commented on #1843
My cronjob runs every 5 Minutes, but the calendar is still not available after > 12 hours..

[2020-01-19 08:37] georgehrke commented on #1845
Please provide browser logs as well. That’s the most crucial here.

[2020-01-19 11:01] devcrafting opened #1857 "Calendar import very long"
**Is your feature request related to a problem? Please describe.**
About time to import, I imported a calendar with ~2000 events, it took some 15 minutes.

About progress, I saw by chance that clicking again on "Settings & import", I got a progress bar (and I also opened Developer Tools to see requests). Still I did not know if there was some errors. At the end, ([looking at code](https://github.c

[2020-01-19 11:36] georgehrke commented on #1857
Yes, we should keep the settings area open. Let me open a separate ticket for that.

[2020-01-19 11:38] georgehrke commented on #1857
@devcrafting Can you generally say something about your server, load and network connection.
When testing this earlier, i easily managed to import between 30 and 40 thousand events in less than five minutes.

I'm not sure why it takes so long for you.

Generally saying uploading 2000 events is something you do very rarely, so it's not something i would prioritise at the moment.

The toast will ind

[2020-01-19 11:38] gramels opened #1858 "clander showing am/pm instead of 24h time"
nextcloud set to english/ ireland local shows am/ pm time instead of 24h in calendar 2.0

[2020-01-19 11:38] #1858 closed

[2020-01-19 11:39] georgehrke commented on #1858
Duplicate of #1844

[2020-01-19 11:40] georgehrke opened #1859 "Keep settings open during import to show progress bar"
Right now, clicking inside the import dialog causes a click outside event for the settings area and closes it automatically. Which results in the progress bar being hidden.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/87217664-keep-settings-open-during-import-to-show-progress-bar?utm_campaign=plugin&utm_content=tracker%2F45525646

[2020-01-19 11:44] georgehrke commented on #1843
@gnilebein Can you please post the contents of the `oc_jobs` table?
Feel free to replace personal data in the `arguments` column.

[2020-01-19 13:03] gnilebein commented on #1843
https://pastebin.com/VNQHcVKQ

Another strange thing is that the calendar no longer uses the X-WR-CALNAME for the name. It uses the Domain name as calendar name.

[2020-01-19 13:34] georgehrke commented on #1843
In `oc_calendarsubscriptions`, fetch the row with `uri` = `heusenstammmein-abfallkalenderde-1` and `principaluri` = `principals/users/patrick@gnilebein.de`. Take the id of that row and check in `oc_calendarobjects` for `calendarid` = row id and `calendartype` = `1`. Are there any rows matching that `calendarid` and `calendartype`?

[2020-01-19 14:42] livier commented on #1845
I hope I well understood your request and give the right info.
otherwise be explicit of what you need and how to get it in firefox -- thanks

[2020-01-19 15:41] georgehrke commented on #1845
Duplicate of #1841

We are looking forward to providing a fix in version 2.0.1. In the meantime, please change the timezone in the lower left settings area from Montreal to Toronto.

[2020-01-19 15:41] #1845 closed

[2020-01-19 16:51] gnilebein commented on #1843
It got an empty set of data:
https://pastebin.com/5zfPPWGU

[2020-01-19 16:59] gnilebein commented on #1843
I have a second calender that does not work:

https://dienstplan.ffhstm.de/kalender.php?abteilung=ff3,kf3

I have access to server logs of dienstplan.ffhstm.de. When i add the calendar i can see a request:

`5.45.108.193 - - [19/Jan/2020:17:52:05 +0100] "GET /kalender.php?abteilung=ff3,kf3 HTTP/1.1" 200 25228 "-" "Nextcloud Webcal Crawler"`

But when i run the cronjob manually, there is not furthe

[2020-01-19 17:27] Perflyst commented on #1843
To your empty data set, it actually gets a 301 (which is not handled by the app), try http://www.heusenstamm.mein-abfallkalender.de/ical.ics?sid=24360&cd=attachment&ft=6&fp=next_1000&wids=626,624,625,627,623,629,628&uid=110061&pwid=552dad48ff&cid=91&fn=Mein-Abfallkalender_Stadt_Heusenstamm_Zuk%c3%bcnftige_Termine.ics

This link works fine and shows the events in the calendar

[2020-01-19 19:43] gnilebein commented on #1843
That was the solution. Thanks.

[2020-01-19 19:52] gnilebein commented on #1843
But is still have Problems with my other calender subscription:

oc_calendarsubscriptions: https://pastebin.com/9krGCMax
oc_calendarobjects: https://pastebin.com/2CywG3PA
Screenshot Developer Console: https://ibb.co/2YkhYyQ

[2020-01-19 20:36] lairsdragon opened #1861 "Embed Code does not work"
### Steps to reproduce
1. Get Embed Code
2. Put it on a Webpage
3. Fail with a CSP error
4. Hardcode your URL inl ib/public/AppFramework/Http/ContentSecurityPolicy.php
5. Load page and see /app/file oder a Redirect Error from browser

### Expected behaviour
i would expect a rendered calendar without Nextcloud Header/Footer

### Actual behaviour
Your are redirected to /app/file, or you see a redire

[2020-01-19 20:45] georgehrke commented on #1861
Duplicate of #169

[2020-01-19 20:57] lairsdragon commented on #1861
Well, as I understand the Issue 169, it is about the Cookie and CSP side of the IFrame mebedding.

If I open the URI in the IFrame Embec Code directly in a browser window I would expect a rendered calendar. But also in this scenario a Redirect to the /app/files URI is generated and I think this is a different issue.

[2020-01-19 21:39] Euklios opened #1862 "Import ics-file into an existing calendar using occ"
**Is your feature request related to a problem? Please describe.**
I have a nextcloud installation including the calendar plugin running. We are sharing files and a calendar for school-related assignments using nextcloud. However, our school provides a calendar including assignments within they're own calendar, as well as an "export to ics-uri" feature that we try to use within our own calendar. W

[2020-01-19 21:47] pReya commented on #169
Got the same problem as described in #1861

[2020-01-19 23:26] memen45 commented on #113
Missing this feature as well. I have a calendar created from subscription link. I do not need all the appointments from that calendar, so I want copy only the appointments I need to my personal calendar. An option "Copy to..." or "Duplicate" would be very nice!

Currently I have to use the Google Calendar app to do this.

[2020-01-20 00:07] memen45 commented on #1570
Running v2.0.0 here and I do not see the icon you show. I do however see a white space right where your icon overlaps the text box (right below the time zone icon):
![afbeelding](https://user-images.githubusercontent.com/27782135/72690562-c5fcf080-3b1d-11ea-9cf1-eebbaf720336.png)

Secondly, with respect to the last comments, there is a difference in how to open the details panel for different cale

[2020-01-20 00:15] StAn187 commented on #838
Bug is still there 😢

[2020-01-20 08:32] georgehrke commented on #1861
What URL are you trying to open? (Feel free to replace the actual domain with example.com)

[2020-01-20 08:33] georgehrke commented on #1862
Duplicate of https://github.com/nextcloud/server/issues/564

[2020-01-20 08:33] #1862 closed

[2020-01-20 08:34] georgehrke commented on #113
@memen45 Please use the [Github Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) feature instead of commenting +1, 👍 etc. These kinds of comments just unnecessarily notify everyone subscribed to this issue. Thx! :)

[2020-01-20 08:36] georgehrke commented on #838
@StAn187 Did you test version 2.0?

[2020-01-20 08:37] georgehrke commented on #838
We actually changed the way undo a calendar deletion works in 2.0. Should work now, although i didn't test it yet.

[2020-01-20 08:51] georgehrke commented on #1861
I was able to reproduce it.

[2020-01-20 09:02] #1861 closed

[2020-01-20 12:33] michaelof commented on #838
I've just tested with Calendar 2.0.0 on NC 18.0 .0, with Firefox for Android 68.3.0:

Issue is *** FIXED ***

Thank you !!!

[2020-01-20 12:34] georgehrke commented on #838
@michaelof Thanks for testing.
In that case I will close this issue.

A backport to version 1.7.x is not planned.

[2020-01-20 12:34] #838 closed

[2020-01-20 13:47] livier commented on #1845
Iqualuit, North of Québec, works fine too.
Thanks

[2020-01-20 13:52] #1841 closed

[2020-01-20 13:52] #1820 closed

[2020-01-20 15:00] #1827 closed

[2020-01-20 17:13] #1818 closed

[2020-01-20 17:14] #1819 closed

[2020-01-20 18:29] raphaelbastide commented on #1570
I was about to open a new issue about that, and discovered this one thanks to issue title suggestion :). Thank you @jancborchardt for pointing this, the absence of focus is indeed, a bit frustrating.

[2020-01-20 18:37] georgehrke commented on #1570
@raphaelbastide A pull-request would be very much welcome. :)

[2020-01-20 20:55] nrgeen opened #1871 "Tab title not translated"
### Steps to reproduce
1. Open the calendar-app in monthly overview.

### Expected behaviour
In the German translation, the tab title of the month in the respective month should be in the same translation.

### Actual behaviour
In the German translation, the English translation of the month is in the tab title.
![Bildschirmfoto vom 2020-01-20 21-45-10](https://user-images.githubusercontent.com/775

[2020-01-20 20:59] armaccloud commented on #899
Since the last update, the escape key isn't working to close the window anymore. Will this come back the the resolution of this issue?

[2020-01-20 21:07] armaccloud opened #1872 "New week view to show the full days (mornings until evenings)"
**The problem I am encountering**
Since the last update, the week overview has a per-quarter of an hour view.

This is causing the days not to be shown in full anymore, which is why you have to scroll up and down to see what is planned in the morning and in the evenings. Earlier, it was possible to see everything planned in the week in one view.

**Describe the solution you'd like**
Have the abili

[2020-01-20 21:09] nrgeen commented on #39
Hello, the Free/Busy function is already at this stage really very successful and will greatly enrich our cooperation in the team. Many thanks for this!
For the further development I would like to make a design proposal. While the Free/Busy window is open, the calendar cannot be used. Since you can only see the date in the Free/Busy overview through the calendar days, you can quickly lose track of

[2020-01-20 22:34] tcitworld commented on #1872
Duplicate of https://github.com/nextcloud/calendar/issues/1840

[2020-01-20 22:34] #1872 closed

[2020-01-20 22:35] tcitworld commented on #1872
And #577

[2020-01-21 08:15] georgehrke commented on #1871
https://github.com/nextcloud/calendar/blob/master/src/services/windowTitleService.js#L43

[2020-01-21 09:43] makemegit opened #1874 "Internal Server Error"
After updating calendar from the webui i get "Internal Server Error"

The log is saying this:

but i cannot find anything wrong. The nextcloud client is working but the webui doesnt anymore.

Any ideas?

*nc 17.0.2.1
*calendar ## 2.0.1 - 2020-01-20

[2020-01-21 09:43] georgehrke commented on #1874
Please fill the entire issue template and provide the Nextcloud.log

What you provided is the access.log

[2020-01-21 10:19] timholl opened #1875 "Unable to download calendars or single events in subscribed calendars"
When i try to download a calendar via the download button next to it, the following URL is opened
[code]
which says
[code]
I can not tell if this is a bug of the calendar app generating an invalid URL or the backend blocking a valid download request.

Furthermore, if i try to download a single event
[code]
I get
[code]

Used versions:
 * Calendar app: 2.0.1 (latest version)
 * Server: 18.0.0 (stab

[2020-01-21 10:20] georgehrke commented on #1875
Please fill the entire [issue template](https://raw.githubusercontent.com/nextcloud/calendar/master/.github/ISSUE_TEMPLATE/bug.md) and provide the Nextcloud.log

[2020-01-21 10:23] makemegit commented on #1874
---
name: 🐛 Bug
about: Have you encountered a bug?
title: ''
labels: bug, 0. to triage
assignees: ''
version: 0.1
---

### Steps to reproduce
1. Isntall calendar from webui
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Internal Server Error

### Calendar app
**Calendar app version:   - calendar: 2.0.1

**CalDAV-clients used: none

### Client configuration
**Browser

[2020-01-21 10:25] georgehrke commented on #1874
Can't spot anything calendar related, moving to server ...

[2020-01-21 10:28] georgehrke commented on #1875
Additionally, do user and calendar in `/<user>/<calendar>/` contain any special character / spaces or just normal characters?

[2020-01-21 10:57] tcitworld opened #1876 "Use links for questions in Github issue template"
See https://github.com/nextcloud/server/pull/19029

Maybe security vulnerabilities as well ?

[2020-01-21 11:03] georgehrke commented on #1876
I didn't know that was possible. We should definitely do that! :)

[2020-01-21 11:06] tcitworld commented on #1876
It seems to be rather new https://github.blog/changelog/2019-10-28-new-issue-template-configuration-options/

[2020-01-21 11:16] #1876 closed

[2020-01-21 11:51] georgehrke commented on #1875
Single events can be downloaded by simply using `https://<host>/remote.php/dav/calendars/<user>/<calendar>/<some-id>.ics`.

Where did you get that URL with `?export` for single events?

[2020-01-21 12:11] walley opened #1878 "confirmation of attendace fails when there is a user with same email address as the creator of an event"
### Steps to reproduce
1. have two user with same email address, be one of them
2. create new event, invite others
3. others clink on approve link in the email

### Expected behaviour
invitation accepted.
user is presented with a message:
Your attendance was updated successfully.

### Actual behaviour
error message:
There was an error updating your attendance status.
Please contact the organizer d

[2020-01-21 12:12] georgehrke commented on #1878
E-Mail addresses need to be unique for scheduling to work.

[2020-01-21 12:12] #1878 closed

[2020-01-21 12:13] georgehrke commented on #1878
https://github.com/nextcloud/server/issues/17146

[2020-01-21 12:20] georgehrke commented on #1814
Important things to add:
- Email addresses must be unique for scheduling

[2020-01-21 12:31] timholl commented on #1875
Sorry, I will add the required information soon.

I forgot to mention, that this problem only occurs with subscribed calendars and with events in those. On "normal" calendars, downloading works just fine.

Furthermore, the download URL looks pretty strange:
[code]
like the URL to that iCal was part of the calendar name just without slashes, dots etc.

Via Event details > Downoad (on an event in a

[2020-01-21 12:33] walley commented on #1878
that error message should be more descriptive:)

[2020-01-21 14:56] 31416r commented on #708
After a quick look into the code, you should use the `embed` route, and simply put an hyphen between calendar tokens, like this:

[code]
With the `p` route, you still get the left margin with the calendar list.

Note that, like **tcitworld** said, you still need to configure your Nextcloud to accept embedding from other domains.

[2020-01-21 14:57] corvus-albus opened #1880 "Integrate navlink for month view"
**Is your feature request related to a problem? Please describe.**
If you are in month view you can easy navigate to week or day view by the new integrated nav-links. That is really handy for getting an overview in month view and jump to specific days and create new events or have a closer look at some days/weeks. If you are at day or week level you can switch between those two also very easy. Onl

[2020-01-21 15:02] georgehrke commented on #1880
I'm not in favour of this idea.

`M1` is not a common term for January, while `W 4` (or even `KW` in german) is more common for week of the year. It's not self explanatory what `M1` does or stands for.

On top of that, as you explicitly mentioned devices with a narrow display: Putting two links right next to each other on a touch display will cause issues, because it makes it unnecessarily difficu

[2020-01-21 15:03] georgehrke commented on #1880
@tcitworld What's your opinion here?

[2020-01-21 16:00] tcitworld commented on #1880
Yup, this can't do this exact proposition for the reason @georgehrke said. Depending on some locales abbreviation may be even longer (see below for French, which already has trouble with this).
![Screenshot_2020-01-21 Semaine 2 de 2020 - Agenda - Mon petit nuage](https://user-images.githubusercontent.com/2197836/72819701-ff447600-3c6d-11ea-870c-333483a54836.png)

We *could* have short month name o

[2020-01-21 16:00] #1880 closed

[2020-01-21 16:52] jmcclelland commented on #1831
Ah, thanks for reporting this problem (and posting the solution). We had this problem after upgrading from 16.0.5 to 17.0.2. Running `occ maintenance:repair` fixed it.

[2020-01-21 17:15] welaq commented on #708
@31416r Not sure how regular users are gonna find out about this feature without looking into the code.

Thanks a lot it works!

[2020-01-21 17:17] martignoni commented on #708
I confirm. Use dashes to separate the tokens!

[2020-01-21 17:23] tomharristech commented on #238
This animation only works for me when I press the close on the sidebar - not when I click an event and the sidebar appears.
Nextcloud 17.0.0 Calendar 2.0.1 Firefox 72.0.1

[2020-01-21 17:34] poVoq opened #1881 "Gantt viewer / planner of tasks and events?"
With better task and project integration it would be really nice if one could switch to a Gantt chart planner to develop a larger project plan.

There is a nice javascript frontend for that, which might be possible to add. Maybe as a separate but linked app like the Tasks app? See:
https://github.com/dangph2011/jQueryGantt

Gantt charts are widely used in enterprise environments, thus this would p

[2020-01-21 18:03] georgehrke commented on #708
We will have to add this to our documentation.

If you read the discussion further up in this thread we agreed not to have a UI for this, because we think the amount of users actually using this feature is pretty low. It was not worth introducing another element cluttering the UI for it. Instead, advanced users who need this feature, can build those URLs easily themselves.

[2020-01-21 18:08] georgehrke commented on #1881
I don't think this is something to be build directly into the calendar app.
Instead, you can just develop an app using the CalDAV interface to access the same data.

[c-dav library](https://github.com/nextcloud/cdav-library) and [calendar.js](https://github.com/georgehrke/calendar-js) make it fairly easy to access, read and modify the calendar-data.

I would suggest posting it in the [app-idea](ht

[2020-01-21 18:08] #1881 closed

[2020-01-21 19:01] hlvs44 opened #1882 "SOLVED - Cannot enable calendar app after upgrade to nextcloud 18.0"
Hallo,
after upgrading to Nextcloud 18.0, calendar app is disabled and it isn't possible to enable again retrieving this error message:  _

_
I've tried with "Remove" and "Download and enable" buttons.
How can i fix?
Thanks.

[2020-01-21 19:14] tcitworld commented on #1882
Please fill [the issue template](https://github.com/nextcloud/calendar/blob/master/.github/ISSUE_TEMPLATE/bug.md), it's here for a reason. We need the `nextcloud.log` information.

Try once more to remove and redownload and install. If you have terminal access, manually remove the `app/calendar/` folder.

[2020-01-21 19:16] jakobroehrl opened #1883 "Integrate `event_update_notification` app (per calendar notification settings)"
I use the app event_update_notification and I think it cloud be nice, if the app would be integrated in the calendar app.

**Describe the solution you'd like**
If a calendar is shared the owner can check a checkbox "send update notifications to shared users"

**Describe alternatives you've considered**
Using the app itself (but choosing a calendar is not possible, when the app is active it sends f

[2020-01-21 22:30] hlvs44 commented on #1882
**Steps to reproduce**

1. upgrade to Nextcloud 18.0 with php > 7.4

2. reload Nextcloud
after upgrading to Nextcloud 18.0, calendar app is disabled and it isn't possible to enable again retrieving this error message: _

    _

_

_
I've tried with "Remove" and "Download and enable" buttons.

**Calendar app**

Calendar app version: (2.0.1

Browser: Firefox 72.0.2 (64 bit)

Operating system: Arch L

[2020-01-21 22:40] hlvs44 commented on #1882
**Logs**
Web server error log (e.g. /var/log/apache)

192.168.43.3 - - [19/Jan/2020:22:01:44 +0100] "PROPFIND /nextcloud/remote.php/dav/calendars/nextcloud/ale2ics/ HTTP/1.1" 401 557
192.168.43.3 - - [19/Jan/2020:22:01:44 +0100] "PROPFIND /nextcloud/remote.php/dav/calendars/nextcloud/ale2ics/ HTTP/1.1" 401 557
192.168.43.3 - nextcloud [19/Jan/2020:22:01:52 +0100] "PROPFIND /nextcloud/remote.php/da

[2020-01-21 22:44] hlvs44 commented on #1882
removed
/usr/share/webapps/nextcloud/apps/calendar
directory.
Reinstalled app by "Download and enable" button
IT'S OK
Thanks

[2020-01-21 22:53] #1882 closed

[2020-01-22 01:22] ccoenen commented on #1736
In germany this looks like this:

![grafik](https://user-images.githubusercontent.com/124909/72857328-9b499e00-3cbd-11ea-92e9-d1805b87fa76.png)

These formats should all be the same consistently to be able to quickly skim this list.

[2020-01-22 04:16] Goose-Tech opened #1884 "New calendar subscriptions via .ICS import not showing up"
### Steps to reproduce
1. Click + to add new calendar and click "New subscription from link"
2. Paste link
3. No entries show up on the calendar

### Expected behaviour
Tell us what should happen

### Actual behaviour
Calendar is added to the list, but no entries appear

### Calendar app
2.0.1

**CalDAV-clients used:** (Thunderbird Lightning, DAVx5, Evolution, macOS Calendar, etc)
Web UI
Thunderbi

[2020-01-22 07:20] tcitworld commented on #1884
Duplicate of #1843

[2020-01-22 07:20] #1884 closed

[2020-01-22 07:49] manfredu commented on #1843
After updating the calendar app to 2.0.0 and 2.0.1 my subscriptions do not get updated any longer. NC 17.0.2.

[2020-01-22 08:27] georgehrke commented on #1843
@manfredu Same as above, please make sure cron is configured properly and running often enough.

[2020-01-22 08:29] georgehrke commented on #1883
What is the benefit of integrating it into the calendar directly?

cc @nickvergessen

[2020-01-22 08:32] tcitworld commented on #1883
If I understand correctly, the benefit would be a per calendar notification setting, but that could be done on the event_update_notification app as well.

[2020-01-22 08:38] manfredu commented on #1843
According to /settings/admin it is using cron and running every 5 minutes:

![image](https://user-images.githubusercontent.com/50785/72878199-cf8f7f80-3cfa-11ea-932f-32bb94c56487.png)

What's the best way to check that it is really doing what it should?

[2020-01-22 08:44] jakobroehrl opened #1885 "reaction to an invitation: Notification"
I'm not sure, but maybe we want a email (outlook does it so) or a [server notification](https://github.com/nextcloud/notifications/) if a user reacts to an invitation.

[2020-01-22 08:45] georgehrke commented on #1885
We have email notifications already.

In app / notification is #144

[2020-01-22 08:47] gnilebein commented on #1843
Check out the posts above. It describes which tables you have to check.

However, I still don't understand why I get a 404 for the calendar in the console.

Can I give more information to solve the problem?

[2020-01-22 08:48] georgehrke commented on #1843
@gnilebein Can you please open a separate issue in the [server repository](https://github.com/nextcloud/server). Please mention me in that ticket, i will take a look.
It seems to be separate from not caching on creation.

[2020-01-22 08:50] jakobroehrl commented on #1885
@georgehrke
There is no notification for the creator of the meeting, if one of the attendees accept/decline the meeting.

[2020-01-22 08:52] georgehrke commented on #1885
Those responses are part of the calendar-inbox and will be visible with #144

[2020-01-22 08:52] #1885 closed

[2020-01-22 08:52] georgehrke commented on #1885
Let me rename #144 for clarity

[2020-01-22 08:54] jakobroehrl commented on #1885
Thanks! 👍

[2020-01-22 10:38] nickvergessen commented on #1883
Yeah, we should also wait for the discussion about activities and notifications being merged. That would duplicate the efforts.

[2020-01-22 12:49] johanehnberg opened #1886 "Only start time zone is set correctly on change in Calendar 2.0.1"
### Steps to reproduce
1. Create a new event with datetime, length, 1 hour
2. Change the starting time zone to something ahead of your zone (e.g. in Germany, choose Japan)
3. Change the ending time zone to the same as 2.

### Expected behaviour
Both start and end time zones are set correctly.

### Actual behaviour
Only start time zone is set correctly, resulting in the event also not being one hou

[2020-01-22 12:50] georgehrke commented on #1886
@johanehnberg Can you please provide browser / javascript logs? Thx

[2020-01-22 12:59] johanehnberg commented on #1886
Sure, attached.
[console-export-2020-1-22_14-57-46.txt](https://github.com/nextcloud/calendar/files/4097381/console-export-2020-1-22_14-57-46.txt)

[2020-01-22 13:02] georgehrke commented on #1886
[code]

Seems relevant here.

[2020-01-22 13:40] palegrand commented on #1843
since I upgraded calendar 2.00 --> 2.01 subscriptions are not displayed anymore.
Adding new subscription (to a known working .ics) does not show anything either, even after multiple cron runs.
Nextclouds own calendars work fine. only calender got upgraded. Nextcloud 17.02

[2020-01-22 14:32] georgehrke commented on #1843
Subscriptions don't appear in the calendar-list anymore or the contents of subscription does no longer show in the calendar-grid?

Can you please check the browser / javascript log?

[2020-01-22 15:48] palegrand commented on #1843
I can see the entry in the calendar-list on the left hand side as before, but the contents do not show anymore (neither old nor new ones)

[2020-01-23 05:55] Goose-Tech commented on #1843
I enabled cron using the linked instructions. One calendar updated immediately, the second calendar is stuck. It is simply spinning. This appears to be isolated to the nextcloud server as my DAVx5 Android app picked up the new calendar and synced all the information correctly. Something's still wrong with the local display of the calendar's entries.

[2020-01-23 08:07] palegrand commented on #1843
seems to be cron-related, indeed. I finally started from shell in the nextcloud folder a  php -f cron.php
it ran a long time - and all entries are visible again :-)
it  seems to work only with  'Cron'. AJAX and Webcron come back quickly - but did/do  NOT work.

[2020-01-23 08:58] rspencer01 opened #1888 "Working out should recognise "Gym" as event title."
**Describe the solution you'd like**
Events titled "gym" to have illustration relating to working out.

**Additional context**
Requires a single line addition to
https://github.com/nextcloud/calendar/blob/85e9f76e570bb154071343245fc414d4b53f1e26/src/utils/illustration.js#L365
and possibly some localization.

[2020-01-23 09:24] georgehrke commented on #1888
@rspencer01 Would you mind just sending a pull-request since you already found the right line of code? :)

[2020-01-23 09:25] rspencer01 commented on #1888
Can do. Will only get round to it later when I'm not at work, but thought I'd drop this here is in case some kind soul got to it faster.

On 23 January 2020 09:24:16 GMT, Georg Ehrke <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-01-23 10:47] IABLinz opened #1889 "montly-mode: scroll-bar instead of "more""
Hi, I do have a question concerning the monthly-mode.

I would like to see all entries of every day, even if I have to scroll to see the whole month. In the old version it worked just like that and we appreciated that very much. Now only view appointments are shown each day and further appointments are summarized with „more“.
For my colleges it’s of great importance to see all appointments at one

[2020-01-23 11:15] georgehrke commented on #1889
cc @nextcloud/designers

[2020-01-23 11:28] jancborchardt commented on #1889
@IABLinz how many appointments are there usually per day?

We had the issue that with many appointments especially in the first week, the other weeks below were not shown, which was suboptimal as the month went on.

@georgehrke if it is possible to `#anchor` to the current week on loading the month view (after loading in the events) then we could change it again to show all events?

[2020-01-23 11:46] georgehrke commented on #1889
No (or at least not easily), because we use progressive event rendering. So the position of a week, when first rendering the grid, is not the same as the position after rendering all events.

[2020-01-23 17:08] mokkin opened #1890 "Calendar created talks in webinar mode"
For better scheduling of webinars, meeting rooms in talk should be always in "webinar mode".
![DeepinBildschirmfoto_Bereich auswählen_20200123180640](https://user-images.githubusercontent.com/2938748/73006705-56cc1880-3e0b-11ea-90c9-95be2e256566.png)
![DeepinBildschirmfoto_Bereich auswählen_20200123180737](https://user-images.githubusercontent.com/2938748/73006709-592e7280-3e0b-11ea-9b92-b3407a8be

[2020-01-23 17:42] georgehrke commented on #1890
Duplicate of #1839

[2020-01-23 17:42] #1890 closed

[2020-01-23 19:46] rfc2822 opened #1891 "[calendar-js] Changes inside subcomponents not properly tracked"
### Steps to reproduce
1. Create a new event in a calendar with a reminder, like 5 min before beginning. Get the ETag, in my case:

        curl -nI https://example.com/remote.php/dav/calendars/test/6/E69B4E96-FBB7-4573-BC55-9628C68DAA27.ics 2>&1 | grep etag
        etag: "408fb1b6e2bdd4e52fed52b5aba88365"
2. Edit only the time of the reminder, for instance from 5 min to 10 min before beginning. C

[2020-01-24 08:48] doitux opened #1892 "Option to zoom in/out the timeGrid"
After the NC Update from 17.0.2 to 18.0.0 (Calendar version 2.0.1) i realized the timeGrid is divided into quarter hours now. I think it was half hours before. But now i have to scroll a lot to have an overview of all dates of a day/week which is a bit annoying.

It would be useful to have an option to zoom in/out the grid to have e.g. the whole day from 0:00 to 23:59 on the screen without scrolli

[2020-01-24 09:33] nolens commented on #1023
I have placed a 250 USD bounty on this. Expiring in 6 months.

Anyone?

[2020-01-24 09:48] georgehrke commented on #1892
Duplicate of #577

[2020-01-24 09:48] #1892 closed

[2020-01-24 11:04] DBJRdev opened #1893 "Sharing a calendar with groups doesn't get saved (v2.0.1)"
### Steps to reproduce
1. Share a calendar with a group -> it looks as if it's accepted
2. Reload: the share was not saved
3. side note: sharing with a single user still works correctly
Problem appears since calendar upgrade this morning via web interface

### Expected behaviour
Sharing with a group should be possible as before

### Actual behaviour
Shared with group is not saved

### Calendar app

[2020-01-24 11:06] georgehrke commented on #1893
@DBJRdev Are you talking about system groups defined by admins or user-defined groups (circles)?

[2020-01-24 11:07] DBJRdev commented on #1893
@georgehrke : the system-wide user groups

[2020-01-24 11:10] DBJRdev commented on #1893
One additional info: we upgraded from calendar 1.7.2 to 2.0.1, that's when the break happened

[2020-01-24 11:16] doitux commented on #577
Is there a way to manually adjust slotDuration to '00:30:00' in the productive code of 2.0.1 in between?

[2020-01-24 11:18] georgehrke commented on #577
@doitux Clone the source, adjust [this line](https://github.com/nextcloud/calendar/blob/master/src/views/Calendar.vue#L178), run `make` and `make appstore`

[2020-01-24 11:35] SuperSandro2000 commented on #1888
Would this mark ``Gymnasium`` which is the German word for high school?

[2020-01-24 11:49] doitux commented on #577
@georgehrke Thanks for the fast reply.
When i run "make" i get this error:
--------------------------------------------------------
Test Suites: 50 passed, 50 total
Tests:       163 passed, 163 total
Snapshots:   0 total
Time:        14.382s
Ran all test suites.
phpunit -c phpunit.xml
Could not read "phpunit.xml".
make: *** [Makefile:48: test-php] Fehler 1
-----------------------------------------

[2020-01-24 11:51] georgehrke commented on #1893
I can't reproduce this. Does the group-name contain anything special like special characters, emojis or umlauts?

[2020-01-24 11:56] octopus-post opened #1894 "My calendars list is not loading"
Nextcloud: 17.0.2
Calendar app: 2.0.1
Browser: Google Chrome 79.0.3945.130

After updating the application Сalendar to version 2.0.1 I can not see the list of my calendars. I can’t create a new calendar, I can’t import the calendar. Other users see my public calendars.
![screenshot-10 171 136 193-2020 01 24-18_38_27](https://user-images.githubusercontent.com/47810706/73067348-09b77780-3edb-11ea-86

[2020-01-24 12:01] georgehrke commented on #1894
@octopus-post Can you please __fill the entire issue template__ like requested?

[2020-01-24 12:09] georgehrke commented on #1893
And can you please provide the Nextcloud and browser log? Are there any failed requests in the network tab of the browser?

[2020-01-24 12:09] fweng322 opened #1895 "Subscribed calendar not shown after upgrading to 2.0.1"
After upgrading Calendar to 2.0.1 on Nextcloud 17.0.2, my subscribed calendar (from Google Calendar) no longer shows.  The native calendar on Nextcloud works as normal.

May be related to #1894 but not sure.

### Steps to reproduce
1. upgrade calendar to 2.0.1
2. Only native calendar shows.  The one subscribed from Google does not.
3. I've tried to delete and re-import the Google calendar, but sti

[2020-01-24 12:10] georgehrke commented on #1895
@fweng322 Please fill the __entire issue template__ and provide the requested logs.

[2020-01-24 12:15] DBJRdev commented on #1893
You're right: the group was called "DBJR-Geschäftsstelle"... and after your hint I tried a group called "test", then the sharing works. So it's about either the dash or the ä...
Does that help or you still need logs?

[2020-01-24 12:16] georgehrke commented on #1893
Thanks!

I don't think I will need logs for now. Let me try to reproduce it again.

[2020-01-24 12:20] georgehrke commented on #1893
I was able to reproduce it with Umlauts. Dash does not cause any errors.

[2020-01-24 12:25] DBJRdev commented on #1893
Thanks for the superfast response!

I'll stand by if any patch should be tried out :)

[2020-01-24 12:26] albatros69 opened #1896 "Subscribed calendar not showing with JS error in the console"
### Steps to reproduce
I'm subscribed to a seemingly genuine ICS calendar, which stopped being displayed after the last upgrade. It was displaying correctly in prior version of NC calendar, and still working in other calendar applications (like Lightning).

The calendar is a public one, so I have attached it to the issue.
[Calendrier_CB.ics.txt](https://github.com/nextcloud/calendar/files/4108412/

[2020-01-24 12:28] georgehrke commented on #1896
Where did you attach it? :)

[2020-01-24 12:28] fweng322 commented on #1895
### Logs
#### Web server error log (e.g. /var/log/apache)
[nextcloud_error.log](https://github.com/nextcloud/calendar/files/4108405/nextcloud_error.log)
[nextcloud_access.log](https://github.com/nextcloud/calendar/files/4108406/nextcloud_access.log)

#### Log file (data/nextcloud.log)
[nextcloud.log](https://github.com/nextcloud/calendar/files/4108411/nextcloud.log)

#### Browser log

a) The javas

[2020-01-24 12:30] albatros69 commented on #1896
Now it is (sorry)
[Calendrier_CB.ics.txt](https://github.com/nextcloud/calendar/files/4108412/Calendrier_CB.ics.txt)

[2020-01-24 12:30] fweng322 commented on #1895
The nextcloud.log was too big so I just capture logs in one or two hours.

[2020-01-24 13:25] rspencer01 commented on #1888
This is already a problem with English events such as _**Camp**aign for Better String Matching_ giving the camping image.  My suggestion would be to match space delineated words, which brings in trouble with multi-word matches and hyphens and the like and warrants a separate issue really.

[2020-01-24 13:36] georgehrke commented on #1888
yes, we need a better matching. To only match for actual words only, not words containing other words. Something like `(?<![\w\d])abc(?![\w\d])`

[2020-01-24 14:13] Valdnet opened #1897 "No translation for button"
No "Import calendar" translation for the import button. **Not present in Transifex.**

![obraz](https://user-images.githubusercontent.com/47037905/73075044-52f7cf00-3ebb-11ea-9db0-293b623c7e32.png)

Code:
https://github.com/nextcloud/calendar/blob/7a1e962c51bf418b4b13a31c9b2aa7b5f56741ce/src/components/AppNavigation/Settings/SettingsImportSection.vue#L31
https://github.com/nextcloud/calendar/blob/

[2020-01-24 14:18] georgehrke commented on #1897
They are on transifex. Any specific language you can't find them in?

![63C0AF85-393C-443E-9DD3-13201BE479F7](https://user-images.githubusercontent.com/1250540/73075620-9d2d8000-3ebc-11ea-9a09-354695acb4dd.png)

[2020-01-24 14:21] georgehrke commented on #1897
They are also available in polish:
![55A79BE4-CEF2-4F82-9AF4-DE7127C885B3](https://user-images.githubusercontent.com/1250540/73075838-1cbb4f00-3ebd-11ea-9a3f-e34d549d2d1f.png)

[2020-01-24 14:22] Valdnet opened #1898 "No calendar import"
### Steps to reproduce

1. Download the calendar from the old version 1.7.1
2. Open the calendar settings of version 2.0.1
3. Import calendar copy file.
4. **No import action.**

### Expected behaviour
Import calendar from file.

### Actual behaviour
No display of tasks from calendar import from file.

### Calendar app
**Calendar app version:** (see apps admin page, e.g. 2.0.1)
2.0.1

### Server c

[2020-01-24 14:23] Derkades commented on #1895
Same issue, after the update only my personal calendar items are shown.
![image](https://user-images.githubusercontent.com/15892014/73075972-6e63d980-3ebd-11ea-8e36-073afe9abd71.png)

[2020-01-24 14:23] georgehrke commented on #1898
@Valdnet Can you please provide __the entire issue template__ including logs?

[2020-01-24 14:25] georgehrke commented on #1895
@Derkades Please check https://github.com/nextcloud/calendar/issues/1843#issuecomment-575996362. Is the cron job properly configured? Is the calendarobjects table filled as expected?

[2020-01-24 14:32] Derkades commented on #1895
Thanks, I was not aware that the calendar app now depends on the cronjob.

[2020-01-24 14:37] georgehrke commented on #1896
@albatros69 I imported the calendar you provided without any issues.
Can you please check https://github.com/nextcloud/calendar/issues/1843#issuecomment-575996362

In Calendar 2.0, we changed the way subscriptions work. Please make sure that cron is properly configured and oc_jobs and oc_calendarobjects is properly filled as described in that ticket.

[2020-01-24 14:41] Valdnet commented on #1897
@georgehrke Sorry.

Then this translation is not read:
https://github.com/nextcloud/calendar/blob/7a1e962c51bf418b4b13a31c9b2aa7b5f56741ce/l10n/pl.js#L85
https://github.com/nextcloud/calendar/blob/7a1e962c51bf418b4b13a31c9b2aa7b5f56741ce/l10n/pl.json#L83

[2020-01-24 14:51] georgehrke commented on #1897
This is an interesting bug 🤔

There seems to be a bug in extracting the translations / generating the .js/.json files.
Using the same string in t and as singular in n seems not supported.

[2020-01-24 14:53] fweng322 commented on #1895
[oc_calendarobjects.table.txt](https://github.com/nextcloud/calendar/files/4109023/oc_calendarobjects.table.txt)
[oc_jobs.table.txt](https://github.com/nextcloud/calendar/files/4109024/oc_jobs.table.txt)

In my admin/settings I used AJAX instead of Cron, which worked well before upgrading to 2.0.1.

Not sure how to "properly configured".

[2020-01-24 14:53] Valdnet commented on #1898
@georgehrke There is no error in the log.
I'm trying to load a copy of the calendar from an xxx.ics file made from the old version 1.7.1. Nothing happens when the backup file is selected via "Import calendar".

[2020-01-24 14:54] georgehrke commented on #1898
@Valdnet Please check the browser log. There must be something in there.

[2020-01-24 14:55] georgehrke commented on #1895
@fweng322 Are you aware that you just posted your entire calendar data?

[2020-01-24 14:58] georgehrke commented on #1895
This is the row corresponding to the Google calendar:
[code]

The 0 after the json data indicates that it was never executed. Please configure a proper cron-job instead.

[2020-01-24 14:59] fweng322 commented on #1895
uh... no.

[2020-01-24 15:01] fweng322 commented on #1895
Before upgrading I set to AJAX which means it should reload every time I go to the calendar page, right?  Not sure why it does not work now.

BTW, the job is stuck now since the first time executing from the cron table.

[2020-01-24 15:03] georgehrke commented on #1895
Not exactly. And to prevent timeouts a proper cron-job is the recommended cron type.

The cron table was very full and since it was not reserved for any particular timespot (but just marked as execute me whenever there are free resources), it was still not executed.

[2020-01-24 15:07] fweng322 commented on #1895
Yes, sometimes it timed out, but eventually it would work, until upgraded to 2.0.1.
Do you have any idea why AJAX not worked anymore?  Even no cron-job was set it is supposed to work anyway.

Seems executing since the status of the process is updating.  Waiting for it being done...

[2020-01-24 15:08] georgehrke commented on #1895
Do you have any idea why AJAX not worked anymore?

We changed the way subscriptions work in 2.0.0. In Version 1.x they were not fetched by cron job.

[2020-01-24 15:10] fweng322 commented on #1895
I see.  Thanks for your answer and hard work.

BTW, does it mean that AJAX no longer worked?  If so it should be removed in the admin/settings I think.

[2020-01-24 15:11] georgehrke commented on #1897
Closing in favour of https://github.com/nextcloud/server/issues/19123

[2020-01-24 15:11] #1897 closed

[2020-01-24 15:14] fweng322 commented on #1895
The first cron job finished, however the calendar still not shown.

[2020-01-24 15:18] georgehrke commented on #1895
It is, but only for very small instances where cron is not available. If possible, you should always configure a proper cron.

It does not run all jobs in oc_jobs every time. Only a couple of them at a time.

Can you check that table again to see if the number after the json data is still 0?
`(64481,'OCA\\DAV\\BackgroundJob\\RefreshWebcalJob','{\"principaluri\":\"principals\\/users\\/Franklin\",\"

[2020-01-24 15:25] Derkades commented on #1895
The cronjob stops after 14 minutes: https://github.com/nextcloud/server/blob/master/cron.php#L114-L116. I'd say leave it running every 15 minutes and check back the next day

[2020-01-24 15:57] Valdnet commented on #1898
@georgehrke In Firefox 72.0.2 browser logs, when importing a file, only this:
[code]

[2020-01-24 16:21] manfredu commented on #1843
Something seems to be wrong with subscriptions. The cron job runs regularly, but still some calendar events are not display or not changed when they should etc.

One example: A row from calenderobjects contains

BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Sabre//Sabre VObject 4.1.6//EN
CALSCALE:GREGORIAN
BEGIN:VEVENT
DTSTAMP:20191009T120827Z
DTSTART;VALUE=DATE:20200115
SUMMARY:Grobsperrgut
UID:91f27aa8-

[2020-01-24 16:23] georgehrke commented on #1843
@manfredu Can you please open a separate issue for that, using the entire issue template __including all requested log files__. Thx.

[2020-01-24 16:40] georgehrke commented on #1898
@Valdnet Can you still please fill the entire issue template?

This seems to be specific to some browser / os combination.

[2020-01-24 16:54] georgehrke commented on #1843
I'm moving this issue to the server, since not caching the subscription on first creation is a server bug.

Other subscription related issues, that you are not sure of whether they are server or calendar app related, should still go into the [calendar repo](https://github.com/nextcloud/calendar), so we can triage them.

[2020-01-24 17:14] georgehrke commented on #1859
Requires https://github.com/nextcloud/nextcloud-vue/issues/834

[2020-01-24 17:23] manfredu opened #1899 "Events from subscribed calendar not shown"
### Steps to reproduce
1. Add new subscription via url https://www.tiefbauamt.bs.ch/dam/jcr:4b2be79d-8325-411f-81f8-5ee339cee7ab/Zone%20H_2020.ics
2. Wait until cron job has run or run manually
3. Refresh display of calender

### Expected behaviour
Events should be displayed

### Actual behaviour
No entry at all from this calendar link.
But there are objects in table calenderobjects. E.g. one row

[2020-01-24 17:35] albatros69 commented on #1896
Cron is properly configured to tun every 5 minutes. I ran it by hand, without any issue (no error in the logs).
I checked the database as per #1843, and I can find some entries:
[code]
Moreover, `oc_jobs` is mentioning a `OCA\DAV\BackgroundJob\RefreshWebcalJob` about this particular subscription. However, I now realise that the other subscriptions also have the same issue (too much recursion), but

[2020-01-24 17:40] albatros69 commented on #1899
Seems to be same issue I'm facing in #1896

[2020-01-24 17:44] Valdnet commented on #1898
@georgehrke I am supplementing the missing data:

### Client configuration
**Browser:** (e.g. Firefox 48)
Firefox 72.0.2

**Operating system:** (e.g. Arch Linux)
Win7 and Win10

### Server configuration

**Operating system**: (e.g. Debian 8)
Linux

**Web server:** (e.g. Apache, Nginx,...)
Apache 2.4.39

**Database:** (e.g. MariaDB, SQLite or PostgreSQL)
Mysql

**PHP version:** (e.g. 7.0.3)
7.2.14

[2020-01-24 18:22] georgehrke commented on #1899
@manfredu Thx for providing that link, i was able to reproduce the error.

Working on a fix ...

[2020-01-24 18:56] georgehrke commented on #1899
Fix is in: https://github.com/georgehrke/calendar-js/pull/77

[2020-01-24 18:59] georgehrke commented on #1896
Duplicate of https://github.com/nextcloud/calendar/issues/1899

[2020-01-24 18:59] #1896 closed

[2020-01-24 19:48] georgehrke commented on #1898
So you are saying you to go settings, click "Import calendars", select a file, but then you never see this dialog?

![07A3E84C-DA01-4E87-97AF-2DC1BEDE50BC](https://user-images.githubusercontent.com/1250540/73098987-c9f88c00-3eea-11ea-8162-91af746b98ee.png)

[2020-01-24 19:54] Valdnet commented on #1898
Yes. This window does not appear for me.

[2020-01-24 20:58] mwalbeck opened #1905 "Undefined colour variable"
Hi,

Just a little heads up, you have an undefined colour variable on line 154 in fullcalendar.scss. I think it's supposed to be --color-background-dark

https://github.com/nextcloud/calendar/blob/942a7ea44e6e6e2eb243f84ceade6714884671c8/css/fullcalendar.scss#L154

[2020-01-24 21:22] georgehrke commented on #1905
Thx! It should be `var(--color-main-background)`

[2020-01-24 21:23] shmca opened #1906 "Unable to insert URL with "&" in "New subscription from link""
In a previous version of nextcloud calendar I war able to insert an URL like:
https://antiope.webuntis.com/WebUntis/Ical.do?school=XXX&id=XXXXX&token=xxxxxxxxxxxxxxxxxxxxxxxxxxx
The newsubscription ist shown as antiope.webuntis.com but it is not shown/downloaded anymore!
System information:
-nextcloud version 17.0.2
-calendar version 2.0.0 and 2.0.1
No errors are shown in the log files:
-nextcloud

[2020-01-24 21:25] georgehrke commented on #1906
please use the [issue template](https://raw.githubusercontent.com/nextcloud/calendar/master/.github/ISSUE_TEMPLATE/bug.md) as described in our [contributing guidelines](https://github.com/nextcloud/server/blob/master/CONTRIBUTING.md)

Unless you fill out the issue template completely including all logs, we can't go ahead and help you.

[2020-01-24 21:27] georgehrke commented on #1906
Please also see https://github.com/nextcloud/server/issues/19126#issuecomment-575915098

And make sure that Cron is properly set up, check the oc_jobs and oc_calendarobjects table as explained in the referenced GitHub ticket.

[2020-01-24 21:35] georgehrke commented on #1899
@manfredu @albatros69 I checked both the calendar links you provided and they work after I applied the fix mentioned above.

I will go ahead and close this issue. The fix will be released with version 2.0.2

[2020-01-24 21:35] #1899 closed

[2020-01-24 21:51] georgehrke commented on #1889
@IABLinz Please answer jan's question above. Thx!

[2020-01-24 22:04] manfredu commented on #1899
Thank you! :-)

[2020-01-25 05:38] fweng322 commented on #1895
The last for number became 1579887017,1579930206,0,1
So I think yes, it was executed for several times, but I still couldn't see my google calendar.

Could you please tell me what do the last two numbers mean?  Thanks.

[2020-01-25 07:49] manfredu opened #1908 "Calendar events from subscribed calendars do not get updated"
### Steps to reproduce
1. Subscribe to ToDoist (Settings, integrations, calendar subscription url)
2. Add new subscription via this url.
3. After next cron job run the events are displayed
4. Change the due date of a task in todoist
5. Wait after cron job has run

### Expected behaviour
The todoist event should have been moved to the new due date

### Actual behaviour
Event remains unchanged.

Cro

[2020-01-25 12:29] georgehrke commented on #1908
I think the default caching period is too big in your use-case.
Unless configured otherwise, it only refreshes a webcal subscription once a week:
https://github.com/nextcloud/server/blob/master/apps/dav/lib/BackgroundJob/RefreshWebcalJob.php#L99

Please try the following steps:
- Find the subscription in `oc_subscriptions`
- The refresh rate column should be null, set it to `PT1H`
- `PT1H` = refre

[2020-01-25 12:55] #1905 closed

[2020-01-25 14:34] manfredu commented on #1908
I'm afraid this is not the reason. Yes, it was null, but only because I set it this, because the original value PT10M did not work.

PT10M is delivered by the link:

BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Apple Computer\\, Inc//iCal 1.5//EN
CALSCALE:GREGORIAN
UID:todoist-4357847-istlightgenerator
X-WR-CALNAME:Todoist
X-WR-TIMEZONE:Etc/UTC
X-PUBLISHED-TTL:PT10M
REFRESH-INTERVAL;VALUE=DURATION:PT10M

[2020-01-25 14:35] manfredu commented on #1908
Close by accident

[2020-01-25 15:13] Valdnet opened #1909 "Error connecting to client"
When trying to connect to the OpenSync 1.5.0.3-ose and
DAVx5 2.6.3.1-ose client receives a connection error.
Customer logs:

OpenSync 1.5.0.3-ose
[code]
DAVx5 2.6.3.1-ose
[code]
### Calendar app
**Calendar app version:** (see apps admin page, e.g. 2.0.1)
2.0.1

**CalDAV-clients used:** (Thunderbird Lightning, DAVx5, Evolution, macOS Calendar, etc)
OpenSync 1.5.0.3-ose
DAVx5 2.6.3.1-ose

**Operatin

[2020-01-25 15:52] georgehrke commented on #1909
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

If you wish support with setup issues from Nextcloud GmbH we offer this as part of the Nextcloud subscription. Learn more about this at https://nextcloud.com/enterprise/

[2020-01-25 15:52] #1909 closed

[2020-01-25 15:56] ahmedmohiduet commented on #1018
Deleting `apps/calendar` directory worked, in my local development environment

[2020-01-25 16:40] doitux commented on #577
manually unpacking works fine ;-)

[2020-01-25 16:46] britzke opened #1911 "Invitation Mail shows the wrong end date on a multi day full day event"
### Steps to reproduce
1. Make sure that invitations for events are sent to participants.
2. Create a multi day full day event (e. g. from 15.02.20 to 16.02.20)
3. Add a participant for that event
4. Save the event

### Expected behaviour
The Participant should get a mail message inviting her for an event from 15.02.20 until 16.02.20

### Actual behaviour
The Participant gets a mail message inviti

[2020-01-25 16:47] britzke commented on #1911
**Note**: The time logged here is exactly on our bevor the time, my system clock. My system clock tells Sa 25 Jan 2020 17:12:52 CET now (some minutes after the log event). It seems that the time logged is UTC and we are here at CET. May be this depends?

[2020-01-25 17:20] major-mayer commented on #1893
I would like to add that whitespaces " " also prevent the added group from being saved.
BTW is it normal that, if you invite someone who also has access to the shared calendar, the event appears twice in his/ her calendar?

[2020-01-25 17:57] Valdnet commented on #1909
@georgehrke Thanks for the tips. I managed :wink:.

[2020-01-25 18:16] georgehrke commented on #1893
Yes, because the event is automatically saved into all attendees calendars.
So this is the expected behaviour.

Please see #1329. We are planning to hide duplicate events.

[2020-01-25 18:36] major-mayer commented on #1893
Thanks, seems to be a lot of background story related to this issue.
So in future i cannot invite any participants to a event that is in a shared calendar anymore?

[2020-01-25 18:39] georgehrke commented on #1893
You will be able to invite attendees even if you share the calendar with them. Not sure where i said something different?

[2020-01-25 18:45] major-mayer commented on #1893
Okay I'm sorry, seems like I misread something.
I thought this will be disabled because it's not in the webcal standard.

[2020-01-25 18:52] Valdnet opened #1912 "No translation display"
When creating a task or created task, the translation "in x days" is not displayed. In Transifex all current translations are translated.

![obraz](https://user-images.githubusercontent.com/47037905/73125854-0b04a500-3fac-11ea-9ea8-19313f95c610.png)

### Calendar app
**Calendar app version:** (see apps admin page, e.g. 2.0.1)
2.0.1
**Nextcloud Version:** (see admin page, e.g. 17.0.2)
18.0.0

[2020-01-25 19:00] michaelray opened #1913 "Repeating events not displayed on first day of monthly calendar"
There appears to be a regression of a display bug related to displaying repeating events on the edge of a monthly display boundary (the first date displayed on a monthly calendar view).  It only seems to be affecting repeating events, as I've got a one-time all day event on the same date and it displays, as expected.

This also seems to be a time zone-related issue when using time zones with negat

[2020-01-25 21:48] albatros69 commented on #1899
Thanks for the support and the fix!

[2020-01-26 12:14] fweng322 opened #1914 "When assigning different timezone, the event duration would be wrongly changed to the time differences"
### Steps to reproduce
1. Create an event by clicking the day on the calendar
2. Click "More" to expand it to detail settings
3. Uncheck "all day" and set the start time to 10:00 am and end time to 1:00 pm
![Screenshot_20200126_194825](https://user-images.githubusercontent.com/1000315/73134808-e07f1e80-4075-11ea-8e5a-9fa57a62c10b.png)
4. Click the earth and choose a different timezone (in my case

[2020-01-26 13:18] georgehrke commented on #1914
It automatically changed the time to 5pm, because by changing the start-timezone, you are putting the start-date after the end-date. As this is not possible, it automatically sets the end date to the start-date. (As 5pm taipei is the same as 10am Brussel)

What did you try to change the end time to?

I agree as this is not optimal. There are cases where you want different timezones for start and e

[2020-01-26 13:26] fweng322 commented on #1914
I have to change the timezone of start time first, then end time.  Both timezone were set then.

However after setting both timezone, when I change the end time to *any* time, the start time would be changed automatically too.

I'm not setting different timezone for start and end time.  Just in steps I have to set the start timezone first, and at that time the end time would have been changed auto

[2020-01-26 16:01] georgehrke commented on #1908
I'm gonna move this issue to the server, since WebCal caching is done by the dav app, not calendar.

[2020-01-26 16:05] georgehrke commented on #1893
Duplicate of https://github.com/nextcloud/server/issues/17610

[2020-01-26 16:05] #1893 closed

[2020-01-26 17:09] Valdnet opened #1915 "A space character is visible"
When creating a new calendar, a hard space character is displayed.

![obraz](https://user-images.githubusercontent.com/47037905/73138787-0224d980-4067-11ea-89b7-e534056108cb.png)

### Calendar app
**Calendar app version:** (see apps admin page, e.g. 2.0.1)
2.0.1

### Client configuration
**Browser:** (e.g. Firefox 48)
Firwfox 72.0.2

**Operating system:** (e.g. Arch Linux)
Win7

**Nextcloud Versio

[2020-01-26 17:11] georgehrke commented on #1915
This is actually a server issue. Possible fix is in https://github.com/nextcloud/server/pull/18741

Let's keep this open as reference for now.

[2020-01-26 17:11] rspencer01 opened #1916 "Illustration parsing uses substrings"
### Steps to reproduce
1. Create an event titled _Campaign for Better String Matching_
2. Notice the illustration is of camping
3. Puzzle

### Expected behaviour
The illustration should not be related to camping.

### Actual behaviour
The illustration is related to camping

### Fix
As mentioned in #1888 , the line given here https://github.com/nextcloud/calendar/blob/b9b47a17c1a1bd663011be7079d875

[2020-01-26 17:28] georgehrke commented on #1916
Something like https://regexr.com/4sv6e  should already do the trick.

[2020-01-26 17:57] georgehrke commented on #1916
@rspencer01 There is a fix in https://github.com/nextcloud/calendar/pull/1918

[2020-01-26 17:59] rspencer01 commented on #1916
Wow.  Much speed.

[2020-01-26 18:40] #1888 closed

[2020-01-26 19:43] DBJRdev commented on #1893
@Georg: I think nextcloud/server#17610 must have a different reason, because the sharing to "DBJR-Geschäftsstelle" worked fine just until the day before. The proof is that we can still see the calendar shares from the days before, but not add new ones. (If that difference is clear to you, then consider this comment irrelevant)

[2020-01-26 21:06] Valdnet opened #1919 "Time display"
### Steps to reproduce
1. Create a new appointment in the calendar.
2. Set the time, e.g. 17:00.
3. Save the date.

### Expected behaviour
Displaying the time as 17:00.

### Actual behaviour
The time displayed is only 17.

![obraz](https://user-images.githubusercontent.com/47037905/73141734-afa7e500-4087-11ea-876e-d0fca77e23be.png)

In my opinion, the time should be displayed along with 00 minutes

[2020-01-26 21:12] georgehrke commented on #1919
Duplicate of https://github.com/nextcloud/calendar/issues/1736

[2020-01-26 21:12] #1919 closed

[2020-01-27 04:41] octopus-post commented on #1894
### Steps to reproduce
1. update the application Сalendar to version 2.0.1
2. click calendar in menu

### Expected behaviour
A list of my calendars should open

### Actual behaviour
The list of calendars is empty. I cannot add or import a new calendar. At the same time, other users see my shared calendars.

## Server configuration detail

**Operating system:** Linux 4.15.0-74-generic #84-Ubuntu SM

[2020-01-27 06:19] meilon commented on #1898
Happens here, too. This is in the Chrome console:

`calendar.js?v=c1e984bb-0:2 rmessage: "invalid ical body. component began but did not end"name: "ParserError"stack: "    at new r (https://nextcloudhost/apps/calendar/js/calendar.js?v=c1e984bb-0:2:152314)↵    at Object.i [as parse] (https://nextcloudhost/apps/calendar/js/calendar.js?v=c1e984bb-0:2:152543)↵    at t.value (https://nextcloudhost/apps

[2020-01-27 08:05] georgehrke commented on #1898
@meilon Looking at the error message, it seems to be an invalid or incomplete ics.

Can you upload the file to https://icalendar.org/validator.html to check?

[2020-01-27 08:06] georgehrke commented on #1894
Please also provide browser logs ...

There are always browser logs, even if they are just debug logs

[2020-01-27 08:20] meilon commented on #1898
Thanks for the link, it mentioned something about CRLF in the first line, but it looked fine in Notepad++. I changed the file endings to Windows (it was Mac with CR), the validator was happy and the import worked.
So adding an error dialog with a hint to the validator would be helpful, though the best solution would be if the importer wouldn't be so picky 😁. I know the specs require CRLF, but come

[2020-01-27 08:32] octopus-post commented on #1894
[chrome_debug.log](https://github.com/nextcloud/calendar/files/4116114/chrome_debug.log)
This is the debug log of the Chrome browser.
PS. This problem has been detected in only one user. Other users open calendars without errors.

[2020-01-27 08:39] georgehrke opened #1920 "Better feedback for import failures"
Proper feedback when parsing fails, file is not actually a text/calendar, etc.

[2020-01-27 08:42] georgehrke commented on #1898
@meilon Absolute true about the better feedback, opened an issue for that: https://github.com/nextcloud/calendar/issues/1920

Let's see what we can do about it, I opened an issue for now to keep track: https://github.com/georgehrke/calendar-js/issues/78

[2020-01-27 08:48] Malspherus commented on #577
Seems you can also search for `return"00:15:00"` in `apps/calendar/js/calendar.js` and just change it there (if this is not recommended for some reason please let me know). Thank you for the link @georgehrke!

I have a slightly different reason for wanting to change this default, having slotDuration with one "line" for 15min is wasting a lot of screen-space on my laptop and forces me to scroll all

[2020-01-27 08:55] IABLinz commented on #1889
Sorry it took me so long to answer, I was out of office. There are up to 50 appointments per day.

[2020-01-27 08:57] georgehrke commented on #1894
I meant the javascript browser log, which you can open with <kbd>cmd</kbd><kbd>option</kbd><kbd>i</kbd>

[2020-01-27 09:00] georgehrke commented on #1898
@Valdnet Can you please check the file you are trying to import with https://icalendar.org/validator.html  as well?

[2020-01-27 09:11] octopus-post commented on #1894
Did you mean that?
****************************************
JQMIGRATE: Migrate is installed, version 1.4.1
globals.js:26 oc_config is deprecated: use OC.config instead
He @ globals.js:26
get @ globals.js:52
mounted @ App.vue:97
Vt @ vue.esm.js:1863
rn @ vue.esm.js:4222
insert @ vue.esm.js:3148
C @ vue.esm.js:6351
(anonymous) @ vue.esm.js:6570
t._update @ vue.esm.js:3948
r @ vue.esm.js:4069
gn.get

[2020-01-27 09:14] Valdnet commented on #1898
@georgehrke I checked the file. Result below:
[code]

[2020-01-27 09:23] #1916 closed

[2020-01-27 10:44] small1 commented on #1023
I have missed this bug. I got thinking about this last year. Being able to assign a subset of slots from the calendar and the recipient can choose by himself on what to use. It is used in a few CRM apps for sales people to book appointments

Here is screenshots from pipedrive. One of the options is to schedule fixed slots.

These are for my calendar and creating a visible slot:
![Screenshot from 2

[2020-01-27 10:46] small1 commented on #1023
I might have clients that would be able to chip in for this feature.

[2020-01-27 10:48] small1 commented on #1023
@jancborchardt now you have screenshots from pipedrive (which works like calendly)

[2020-01-27 10:54] small1 commented on #1023
A good thing would be if you could setup several different links with different type of slots.

[2020-01-27 11:02] georgehrke commented on #1023
Let me repost [something from another ticket](https://github.com/nextcloud/calendar/issues/1116#issuecomment-465127203) here so it doesn't get lost:
It's best if we tackle this issue incrementally:
- To allow people to book themselves an appointment, we first need write support for public calendars: https://github.com/nextcloud/server/issues/3509
- To only show busy spots and not the actual event

[2020-01-27 11:09] georgehrke commented on #854
Partly related to: https://github.com/nextcloud/calendar/issues/1023

[2020-01-27 11:53] 9R opened #1921 "Tab order of editor"
### Steps to reproduce
1. Create a new event
2. Use [TAB] to move between the input fields instead of a mouse/pointer

### Expected behaviour
Traverse the input field in an order, that follows event creation logic and give a visual queue about the currently selected input field to let the user know, which field is currently being selected.

i.e.
* event name
* allday? y/n
* start date (& time)
* e

[2020-01-27 13:02] georgehrke commented on #1489
This was fixed in version 2 and is no longer reproducible:
https://github.com/nextcloud/calendar/blob/fe9a0e1c3edba226ad578f1d13fc88d16671683c/src/components/AppNavigation/CalendarList/CalendarListItem.vue#L113
https://github.com/nextcloud/calendar/blob/fe9a0e1c3edba226ad578f1d13fc88d16671683c/src/components/AppNavigation/CalendarList/CalendarListItem.vue#L119

Version 1 is only receiving security

[2020-01-27 13:02] #1489 closed

[2020-01-27 14:38] mjanssens commented on #1489
@georgehrke sorry for not updating my comment. NC 15 is end of life, so it doesn't apply anymore.
In the meantime I'm on NC 17.0.2.1 and Calendar 2.0.1 and the issue is indeed not reproducible.
Thanks for fixing!

[2020-01-27 16:10] stesser opened #1922 "Missing share icon in calendar list"
A fresh installation of NextCloud-18 works with respect to all other tested components, but does not allow calendar sharing (the "share API" setting is enabled).

Is there another setting that might disable calendar sharing for all users?

What debugging features are available in such a case (apparently no error, just a feature that seems to b disabled)?

[code]

[2020-01-27 16:12] georgehrke commented on #1922
Please try to disable all browser extensions / add-ons. It's most likely some adblocker.

[2020-01-27 16:14] georgehrke commented on #1922
If that's not it, please use the [issue template](https://raw.githubusercontent.com/nextcloud/calendar/master/.github/ISSUE_TEMPLATE/bug.md) as described in our [contributing guidelines](https://github.com/nextcloud/server/blob/master/CONTRIBUTING.md)

Unless you fill out the issue template completely including all logs, we can't go ahead and help you.

[2020-01-27 16:38] tcitworld commented on #1922
And the `File sharing` app enabled as well.

[2020-01-27 17:50] georgehrke commented on #1477
@BigMichi1 Can you still reproduce the same behaviour in Calendar 2?

[2020-01-27 18:03] nolens commented on #1023
@small1 : They might want to add on my bounty - or claim it? ;=)
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=67911177)](https://www.bountysource.com/issues/67911177-appointment-slot-support)

[2020-01-27 20:01] stesser commented on #1922
Well, Georg Ehrke provided the hint that let me get Calendar sharing to work, thanks a lot!

In fact, it was uBlock Origin, which was "all green" for this site (as well as uMatrix by default, since no foreign resources are used), but "Cosmetic Filters" were active and they cause the Share icons to vanish.

If there is interest in the cause, I attempt to analyze why these filters suppress these ele

[2020-01-27 20:01] #1922 closed

[2020-01-27 21:22] small1 commented on #1023
@nolens im going to check if they would like to add to it :)

[2020-01-27 21:58] motey opened #1923 "Birthday calender entries in wrong date format (in sidebar)"
### Steps to reproduce
1. Create a contact with birthday
2. Have a look at the dates in the webinterface calender app
3. Open the Sidebar of a date

### Expected behaviour
See the date in my local format without any time as a birthday is a all day event

### Actual behaviour
See the date in US format with 12:00 AM with local wording mixed in (German in my case)
"von 01/16/2020 um 12:00 AM"
![grafi

[2020-01-27 23:39] motey commented on #1923
btw: My config in "Account"-"Personal Informations"-"locale" is set to "Deutschland"
![grafik](https://user-images.githubusercontent.com/1006417/73223490-8316ca80-4166-11ea-943e-b119c26faf20.png)

[2020-01-28 06:47] BigMichi1 commented on #1477
no longer reproducible in calendar 2

[2020-01-28 06:47] #1477 closed

[2020-01-28 08:23] cl4x opened #1924 "the style of the calendar differs from admin to normal user"
Hi,
the display from users is totally different respect display from admin. On same browser, on all browsers. Show Attach. The problem is after the update Calendar 2.

From users is really unusable, the dark outline makes it difficult to read.

### Calendar app
**Calendar app version:** from 2.0

### Client configuration
**Browser:** Firefox 72.0.1 or Chrome 79.0.03945.117

**Operating system:** W

[2020-01-28 08:24] georgehrke commented on #1924
@cl4x This looks to me like the user in question enabled high contrast mode in accessibility.

[2020-01-28 08:40] cl4x commented on #1924
OMG!!
I went crazy, I saw everything except this.

Thanks

[2020-01-28 08:40] #1924 closed

[2020-01-28 11:09] Valdnet opened #1925 "New event popover positioning issue on double click"
### Steps to reproduce

1. Create a new calendar.
2. Double click on the calendar window.

### Expected behaviour
The new event window should open in full visibility.

### Actual behaviour
A new event window opens with partial visibility.

![obraz](https://user-images.githubusercontent.com/47037905/73258876-e7697680-41c6-11ea-9f7d-271d17685d0e.png)

###Nextcloud version: (see Nextcloud admin page)

[2020-01-28 11:37] georgehrke commented on #1925
I hate it how Microsoft conditioned all windows users to double click everything they see 😂

If you just click once it works as expected.

[2020-01-28 11:37] georgehrke commented on #1925
Reproducible with double click.

[2020-01-28 11:41] georgehrke commented on #1925
@Valdnet Did you find other things that do not work as expected when double clicking instead of just clicking once?

[2020-01-28 12:19] Valdnet commented on #1925
@georgehrke I clicked a bit on the calendar and haven't found anything yet :stuck_out_tongue_winking_eye:.

[2020-01-28 12:31] raimund-schluessler commented on #1925
Doesn't need to be a fast double-click. It is enough to click the calendar event placeholder after the new event popover editor is opened.

[2020-01-28 12:42] ameierme opened #1926 "No entries shown on different calendars"
You only see entries in the calendar when you go down to daily look. Weekly und monthly entries stay empty.

[2020-01-28 12:42] georgehrke commented on #1926
please use the [issue template](https://raw.githubusercontent.com/nextcloud/calendar/master/.github/ISSUE_TEMPLATE/bug.md) as described in our [contributing guidelines](https://github.com/nextcloud/server/blob/master/CONTRIBUTING.md)

Unless you fill out the issue template completely including all logs, we can't go ahead and help you.

[2020-01-28 14:20] georgehrke commented on #1334
This was not solved by updating to FullCalendar 4 sadly.

I checked their source-code and everything related to weekends is hardcoded to Saturday and Sunday.

[2020-01-28 14:44] georgehrke commented on #1334
I created a ticket upstream: https://github.com/fullcalendar/fullcalendar/issues/5234

So this issue has two sides to it:
1. If you disable "Show weekends", the wrong weekends are hidden. This has to be fixed upstream in the referenced issue.
2. Wrong days are highlighted for weekend. That's something we can fix.

[2020-01-28 15:14] mattiaaeternity opened #1927 "Recurring events"
**Is your feature request related to a problem? Please describe.**
This feature request is related to a problem in the calendar / event creation.

**Describe the solution you'd like**
I like to have more options when creating recurring events.
– Monthly on the second [day]
– Every weekday [Mon – Fri]
– Pick the days of a week
– Skip a specific day of the interval
– Move a single event, while keepi

[2020-01-28 15:14] #1927 closed

[2020-01-28 15:15] georgehrke commented on #1927
Please update to Calendar 2.0

[2020-01-28 15:15] georgehrke commented on #1927
Duplicate of #10

[2020-01-28 19:26] dominic-p opened #1928 "Design tweaks to new UI"
Hello, just got to play around with the v2.0 Vue version, and it's really nice. We ran into a few snags with the new UI that could maybe use a bit of polish. I apologize if these have been reported elsewhere, I did a quick search and didn't find any of them.

We use Firefox (latest) on Windows 10, so all of these issues pertain to that platform.

1. The new font size on month view is a bit too sma

[2020-01-29 07:05] castletonroad opened #1929 "Preserve duration when editing start time"
### Steps to reproduce
1. Set up repeating event with duration less than 1 hour: Monday 7.00-7.15am, repeat weekly on Mondays, end after 5 occurrences
2. Edit repeating event: change start date into the future by 10 weeks; select update this and all future events

### Expected behaviour
1. Repeating series of events should 'shift' 10 weeks into the future, with no other changes to the event

### A

[2020-01-29 07:42] Helium314 commented on #1928
This is not only for Firefox, in Vivaldi it is the same (on Linux and Windows).
I have the similar issues with the new calendar, and would like to add a little bit.

Font size should definitely increased, in my opinion it should simply be the same as the "usual" font size (like e.g. the calendar names in the left bar).

Sometimes this "+x more" even appears as the only option, all events for that

[2020-01-29 07:53] ameierme commented on #1926
Log says: Use of undefined constant calendar - assumed 'calendar' (this will throw an Error in a future version of PHP) at /mnt/web110/d0/59/53201359/htdocs/nextcloud/config/config.php#23

[2020-01-29 08:06] tcitworld commented on #1926
Seems like an issue with your install. What's in `config/config.php` line 23 (anonymize if needed)?

[2020-01-29 08:20] ameierme commented on #1926
'defaultapp' => calendar,
But i think the error is somewhere else:
[PHP] Error: Use of undefined constant calendar - assumed 'calendar' (this will throw an Error in a future version of PHP) at /mnt/web110/d0/59/53201359/htdocs/nextcloud/config/config.php#23

Error | PHP | opendir(/var/tmp/): failed to open dir: Permission denied at /mnt/web110/d0/59/53201359/htdocs/nextcloud/lib/private/TempManage

[2020-01-29 08:23] raimund-schluessler commented on #1926
`calendar` needs to be in quotes, otherwise it's not a string but an "undefined constant calendar", just as the error message says.

[2020-01-29 08:27] ameierme commented on #1926
Quotes are set, Erroressage is gone. But still no entries visible

[2020-01-29 08:39] georgehrke commented on #1928
Are you running Nextcloud 17 or 18? The overall font size was increased in 18.

Can you please open a separate bug report about this?

https://github.com/nextcloud/calendar/issues/1889

[2020-01-29 08:40] cl4x opened #1930 "new event focus directly on subject"
when creating a new event, the focus should be on the subject so that the user can write the content without additional clicks.

**Describe the solution you'd like**
cursor on the yellow field (see attach) without other steps (additional click)

![nc3](https://user-images.githubusercontent.com/47188814/73340396-f3167500-427a-11ea-97a4-b09425dcbf2e.JPG)

TY

<bountysource-plugin>

---
Want to back

[2020-01-29 08:45] georgehrke commented on #1928
This was already addressed in #1576. Supporting am/pm will require updating the used ui to version 3 first: https://github.com/nextcloud/nextcloud-vue/pull/783

[2020-01-29 08:47] georgehrke commented on #1928
In that case you must be using a really tiny screen where it can display at most one event per cell. Can you give some feedback about the resolution / scaling / etc?

[2020-01-29 08:58] georgehrke commented on #1926
Please fill the __entire__ issue template like I already requested [above](https://github.com/nextcloud/calendar/issues/1926#issuecomment-579227400).

[2020-01-29 09:24] Helium314 commented on #1928
Vivaldi on Windows 7, 1920x1080
100% zoom: looks fine
![100](https://user-images.githubusercontent.com/43007630/73343137-535be580-4280-11ea-9f6a-4aba6b6f149d.png)

110% zoom: disappearing events on 14th, 15th and 19th. Probably related to the events with multi-line titles, as does not happen on 20th
![110](https://user-images.githubusercontent.com/43007630/73343196-7090b400-4280-11ea-9021-bd5be3f1

[2020-01-29 09:26] georgehrke commented on #1928
The one on Jan 14th / 15th on the second screenshots definitely looks like a (upstream) bug. Can you please open a separate issue for that one?

[2020-01-29 10:15] Helium314 opened #1931 "No events shown for day, only +x more"
In monthly view at some zoom levels no events are shown for certain days, only "+x more".

At 100% zoom, everything looks fine
![100](https://user-images.githubusercontent.com/43007630/73343137-535be580-4280-11ea-9f6a-4aba6b6f149d.png)

At 110% zoom, events on 14th, 15th and 19th are replaced by "+2 more". This could be related to the events with multi-line titles, as does not happen on 20th.
![11

[2020-01-29 10:17] georgehrke commented on #1931
@Helium314 Are the events, that are hidden on 14th and 15th, multiday events? If yes, can you tell me from what day to what day they  span?

[2020-01-29 10:28] ameierme commented on #1926
---
name: 🐛 Bug
about: Have you encountered a bug?
title: ''
labels: bug, 0. to triage
assignees: ''
version: 0.1
---

### Steps to reproduce
1. Log into Nextcloud to show calendar
2. Outlook and Thunderbird shows entries
3. No Entries in Browser

### Expected behaviour
Should see calendar entries

### Actual behaviour
Calender stays empty.

### Calendar app
2.01

**CalDAV-clients used:** Thunderb

[2020-01-29 10:29] georgehrke commented on #1926
Please provide the requested browser logs as well ...

[2020-01-29 10:32] Helium314 commented on #1931
None of them are multiday,
On 14th there is one all-day event and one from 20:00 to 21:00, on 15th both events are all-day events.

[2020-01-29 10:33] georgehrke commented on #1931
But they have multiline titles?

[2020-01-29 10:37] Helium314 commented on #1931
Two of them, you can still see it on the screenshots

[2020-01-29 11:22] ameierme commented on #1926
[Firefox Browser Log.docx](https://github.com/nextcloud/calendar/files/4127663/Firefox.Browser.Log.docx)

[2020-01-29 11:25] georgehrke commented on #1926
@ameierme If the log is too long, can you please paste them in a gist? https://gist.github.com

[2020-01-29 11:30] mattiaaeternity commented on #1927
I can't find the feature on Nextcloud. It hasn't been fixed. Therefore, I don't understand why my request has been closed.